/* Show only default top level items */
// #wp-toolbar > ul > li {
// 	display: inline-block!important;
// 	margin: 0 .5em!important;
// }
.site-content {
	padding: 0 1em 1em;

	@media screen and (min-width: $query__small) {
		padding: 0 2em 2em;
	}
}


.site-content {
	max-width: $size__max-width;
	margin: 0 auto;
}

.archive-view:not(.learnpress) .site-content {
	//padding-top: 1em;

	@media screen and (min-width: $query__medium) {
		//padding-top: 2em;
	}
}

/* Single posts */
@media screen and (min-width: $query__medium) {
	.single.has-sidebar,
	.page,
	.learnpress-page {
		.hentry {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.entry-header {
				flex: 1 0 100%;
			}

			.post-content {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}
		}
		.learnpress-page {
			.page-sidebar {
				float: left!important;
				position: relative;
			}
		}
	}

	.page,
	.learnpress-page {
		&.has-page-sidebar {
			.hentry {
				flex-direction: row-reverse;
			}
		}
		&:not(.has-page-sidebar) {
			.hentry {
				justify-content: space-around;
				margin-left: auto;
				margin-right: auto;
			}
			.post-content {
				max-width: $size__ratio-large;
			}
		}
	}

}


@media screen and (min-width: $query__medium) {
	.single {
		&.no-sidebar {

		}
	}
}
