.site {
	max-width: $size__max-width;
	margin: 0 auto;
	background: white;
	clear: both;
}

.site-content {
	padding: 1em;
	max-width: $size__max-width;
	margin: 0 auto;

	@media screen and (min-width: $query__small) {
		padding: 2em;
	}
	@media screen and (min-width: $size__max-width) {
		padding: 3em 4em;
	}
}

/* Single posts and pages */
@media screen and (min-width: $query__medium) {
	.single.has-sidebar,
	.page {
		.hentry {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.entry-header {
				width: 100%;
				flex: 1 0 100%;
			}

			.post-content {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}
		}

	}

	.page {
		&:not(.has-page-sidebar) {
			.hentry {
				justify-content: flex-end;
				max-width: $size__ratio-large;
				margin: 0 auto;
			}
			.post-content {
				width: 100%;
			}
		}

		&.has-page-sidebar {
			.hentry {
				flex-direction: row-reverse;
			}
			.post-content {
				width: $size__ratio-large;
			}
		}
	}


}


@media screen and (min-width: $query__medium) {
	.single {
		&.no-sidebar {

			.post-content__wrap {
				display: flex;
				justify-content: space-between;

				.entry-meta {
					width: 20%;
				}

				.post-content__body {
					width: 70%;
				}
			}

		}
	}
}


/* Full page layout */

.page {
	
	.full-width {
		
		.widget-area {
			display: none;
		}

		@media screen and(min-width: $query__medium) {
			.post-content {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media screen and (min-width: $query__medium) {
			.hentry {
				max-width: 100%;
				margin: 0 auto;
			}
		}
		
	}
}
