@media screen and (min-width: $query__medium) {
    .profile {
        .page .post-content {
            width: 100;
            background: white;
            padding: 1em;


        }
    }
}


.profile {
    .learnpress {
        .lp-profile-avatar img {
            border-radius: 50%!important;
        }
        .lp-profile-header {
            background-color: white!important;
        }


    }

    a {
        border: 0;
    }

    #learn-press-profile-nav:before {
        background: none;
    }

    #learn-press-profile-nav {
        background: none;
    }
}
