//estilos para bbpress y buddypress

@media screen and (min-width: $query__medium) {
  .profile {

    .page .post-content {
      width: 100;
      background: white;
      padding: 1em;
    }
  }
}


.profile {
  .learnpress {

    .lp-profile-avatar img {
        border-radius: 50%!important;
    }

    .lp-profile-header {
        background-color: white!important;
    }
  }

  a {
      border: 0;
  }

  #learn-press-profile-nav:before {
      background: none;
  }

  #learn-press-profile-nav {
      background: none;
  }
}


@media screen and (min-width: $query__medium) {
  body.buddypress .entry-content {
      width: $size__ratio-large!important;
  }
}

// header de buddypress Pages
body.buddypress {

  .site-content {
    padding-top: 0!important;

    .entry-header {
      margin-bottom: 0!important;
      padding: 2em 1em;

      @media screen and(min-width: $query__small) {
        padding: 4em 1em!important;
      }
    }
  }

  .bp-feedback,
  .bp-messages {
    font-family: $font__sans;
  }
}
