/* start new bbpress */
.bbp-topic-voice-count {
    display: none;
}

.bbp-topic-reply-count {
    color: #aaa;
    font-size: 80%;
    margin-right: 20px !important;
    width: inherit !important;
}

.bbp-topic-freshness {
    display: block;
    float: none !important;
    font-size: 80% !important;
    text-align: left !important;
    width: 100% !important;
}

.bbp-topics .bbp-header,
.bbp-topic-started-by {
    display: none !important;
}

.bbp-topic-meta {
	float: right;
	margin: 0 !important;
}

.bbp-topic-title {
    width: 100% !important;
}
.bbp-body {
    //border: 0 none !important;
}
.bbp-topics {
    //border: 0 none !important;
}
.bbp-topics .type-topic {
    border-bottom: 1px solid $color__main-bordes!important;
}
#bbpress-forums .type-topic.odd {
    background-color: inherit;
}
#bbpress-forums div.odd {
	background-color: $color__main-superclaro;
}
.bbp-topic-freshness a,
.bbp-topic-freshness-author {
	color: $color__gris;
	font-size: .8rem;
}
.resolved,
.bbp-footer,
li.bbp-forum-freshness {
	display: none;
}
.resolved + a {
    opacity: 0.7 !important;
	position:relative;
	padding-left: 25px;
}
.resolved + a:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #76b711;
    content: "\f00c";
    display: block;
    font-family: FontAwesome;
    font-size: 80%;
    padding: 5px;
    position: absolute;
    left: -8px;
    text-align: center;
    top: -8px;
    z-index: 999;
	font-size: 20px;
}
.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	border-width: 1px;
	background-color: $color__main-superclaro!important;
}
.bbp-topics-front ul.super-sticky .bbp-topic-permalink,
.bbp-topics ul.super-sticky .bbp-topic-permalink,
.bbp-topics ul.sticky .bbp-topic-permalink,
.bbp-forum-content ul.sticky .bbp-topic-permalink {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em;
	display: block;
}

#bbpress-forums ul {
	border: 0 none;
	position:relative;
}

#bbpress-forums {
	
	a {
		border: none;
	}
}

#bbpress-forums div.bbp-topic-content a, #bbpress-forums div.bbp-reply-content a {
	color: $color__verde;
	font-weight: 700;

	&:hover {
		color: $color__naranja;
	}
}

li.bbp-forum-info, li.bbp-topic-title {
    width: 50%;
}

li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
    width: 25%;
}

.bbp-replies .bbp-header {
	display: none;
}

#bbpress-forums div.bbp-search-form {
	margin-bottom: 10px;
}

#wp-bbp_reply_content-editor-container {
	border: 1px solid #DDD;
}

div.bbp-submit-wrapper {
	float: none;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    font-size: 14px;
    padding: 25px;
}

#bbpress-forums,
div.bbp-breadcrumb,
div.bbp-topic-tags,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	font-size: 1rem;
	font-family: $font__sans;
}

div.bbp-template-notice p,
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
	font-weight: 400;
	font-size: 80%;
	max-width: 40%;
	span {
		white-space: normal;
	}
}

.bbp-reply-content {
	font-weight: 400;
	font-size: 17px;
	width: 100%;
}

#bbpress-forums > .forums .hentry {
	display: block!important; // caer encima al flex del tema en el hentry
}

#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content,
.bbp-reply-author,
.bbp-topic-author,
.bbp-meta {
	margin-left: 0;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#bbpress-forums div.bbp-forum-author a.bbp-author-name, #bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0;
}

.bbp-reply-author br,
.bbp-topic-author br {
	//display: none;
}

.bbp-reply-author,
.bbp-topic-author {
	border-bottom: 1px solid #DDD;
}

div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {
	padding: 0;
}

.bbp-reply-author:before,
.bbp-reply-author:after {
    content: "";
    display: table;
}
.bbp-reply-author:after {
    clear: both;
}

.bbp-header .bbp-reply-author,
.bbp-footer .bbp-reply-author {
	border-width: 0;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
	padding: 20px;
}

#bbps-post-count,
.bbp-author-role {
	font-size: 13px !important;
}

.bbp-reply-content #subscription-toggle {
	margin: 0;
	clear: none;
}

#bbpress-forums .bbp-replies .type-topic,
#bbpress-forums .bbp-replies .type-reply{
	margin-bottom: 20px !important;
	border-bottom: 1px solid $color__main-bordes;
	border-top: 0 none;
}

#bbp-search-results .bbp-topic-title,
#bbp-search-results .bbp-topic-author {
	padding: 20px;
}


.bbp-reply-header {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

#bbpress-forums div.reply {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#bbps_support_forum_options, #bbps_support_forum_move, .bbps-support-forums-message {
    float: none;
    margin-bottom: 20px;
    width: auto;
}

#bbps-topic-status {
    float: none;
}

#bbpress-forums div.bbp-topic-tags {
    float: left;
}

#bbps-topic-status label {
	display: block;
}

#bbps_support_options {
	padding: 10px 15px;
}

#bbp_search {
	width: 75%;
}
#bbp_search_submit {
	width: auto;
	//min-width: 150px;
}
#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
    //margin-top: .5em;
}

div.bbp-breadcrumb {
	float: left;
}

.learnpress-page .bbp-breadcrumb,
.learnpress-page #subscription-toggle,
.learnpress-page .favorite-toggle{
	display: none;
}

.bbp-pagination {
	background-color: $color__main;
	color: $color__main-claro;
	float: none;
	display: block;
	clear: both;
	font-size: 90%;
}

.bbp-pagination:after {
	content: "";
	display: table;
	clear: both;
}

.bbp-reply-header .bbp-reply-title {
	padding: 20px;
}

#bbpress-forums hr {
	display: none;
}

#bbpress-forums .bbp-search-form {
	//display: none;
}

#bbpress-forums,
#forums-list-0 {
	margin-bottom: 0;
}

#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	border-radius: 50%;
	max-width: 50px;
	float: none;
	display: block;
	margin-bottom: 5px;
}

#bbpress-forums p.bbp-topic-meta img.avatar, 
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar, 
#bbpress-forums div.bbp-template-notice img.avatar, 
#bbpress-forums .widget_display_topics img.avatar, 
#bbpress-forums .widget_display_replies img.avatar {
	margin-bottom: 3em;
	width: 2em;
	height: 2em;
}

.bbp-author-role,
.bbps-post-count,
#bbps-post-count {
    display: none;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name,
.bbp-reply-author,
.bbp-topic-author {
	clear: none !important;
	margin-top: 0px !important;
	font-weight: bold !important;
	font-size: 16px !important;
	color: #222 !important;
	text-align: center !important;
	display: inline-block !important;
}

.bbp-reply-content,
.bbp-topic-content {
	border-top: 0;
	overflow: hidden;
	font-size: 1em;
}

.bbp-author-ip {
	font-size: 9px !important;
}

.bbp-reply-header .bbp-meta,
.bbp-topic-header .bbp-meta {
	background: #FFF;
	border: 0;
	padding-bottom: 3px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color:#aaa;
}

div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
	border: 0;
	font-size: 80%;
}

.bbp-reply-ip {
	clear: left;
}

.bbp-reply-author,
.bbp-topic-author {
	border: 0;
}

#bbps_support_forum_move {
	display: none;
}

#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
	width: 100%;
	float: none;
}

#forums-list-0 .bbp-body .bbp-forum-freshness {
    clear: none;
    display: inline-block;
    font-size: 80%;
    text-align: left;
    width: 100%;
}

#forums-list-0 .bbp-body .bbp-forum-freshness a {
	color: #aaa !important;
}

#forums-list-0 .bbp-body .bbp-topic-freshness-author {
	display: none;
}

#forums-list-0 .bbp-forum-info .bbp-forum-content {
	display: none;
}

#subscription-toggle {
  margin: .5em 0 1em;
  float: right;
}

a.subscription-toggle {
  @include etiqueta($color__main-oscuro, $color__main-claro);
  //margin: 0 .5em;
  background-color: $color__verde;
  color: white;
  padding: .5em;

  &:hover,
  &:active {
	  color: $color__verde-claro;
  }
}

.bbp-pagination {
	font-style: italic;
	border-color: $color__main-bordes;
	padding: .5em;
	float: none!important;
	display: block;

	.bbp-pagination-links {
		span.current,
		a:hover {
			color: $color__main-oscuro!important;
			background-color: $color__main-claro!important;
		}
	}
}

// Tabla de cursos en el perfil
.lp-list-table thead tr th {
	background: $color__main-oscuro!important;
	color: #FFF;
}
ul.leanpress-buddpress-list-filters li a.active {
	border-bottom: 2px solid $color__naranja;
}

.bbp-user-page ul.learn-press-courses .course {
	padding: .5em!important;
	border: 1px solid $color__main;
	position: relative;
	button {
		background: #cce2f8;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: .75em;
    font-family: "Roboto", sans-serif;
    font-size: .8em;
    text-align: left;
    color: #6696c7;
    text-decoration: none;
    border: 0;
		border-top: 1px solid #006edc;
		border-radius: 0;
	}
}

/*Estilos para bbpress de customizer*/
.bbp-reply-content {
	line-height: 1.5
}
.bbp-body .hentry ol,
.bbp-body .hentry ul {
	margin-left:1em!important;
	padding-left: 1em!important;
}
#favorite-toggle,
#subscription-toggle {
	margin: 0 0 1em!important;
}
a.favorite-toggle {
    font-size: 1rem;
    border-radius: .2em;
    background-color: #f6c348;
    color: white;
    padding: .5em;
		display: inline-block;
}
a.subscription-toggle {
	display: inline-block;
}
/*widget respuestas recientes bbpress*/
.bbp-replies-widget {
	font-size: 0.85em;
}
.bbp-replies-widget .bbp-author-avatar {
	margin-right: 0.25em;
}
.bbp-replies-widget .bbp-author-name {
	font-weight: bold;
}
.bbp-replies-widget time {
	font-size: 0.8em;
	color: graytext;
}
.bbp-replies-widget .bbp-reply-topic-title {
	font-style: italic;
}

.bp-comunidad > a:before {
	content: none;
	margin-right: 0;
}
.coblocks-form__submitted {
	background-color: #f4f4f4;
	padding: 1em;
}
.coblocks-form__submitted {
	background-color: #f4f4f4;
	padding: 1em;
}