//estilos para buddypress

@media screen and (min-width: $query__medium) {
  .profile {

    .page .post-content {
      width: 100;
      background: white;
      padding: 1em;
    }
  }
}


.buddypress-wrap {
  font-family: $font__sans;

  ul.member-header-actions {
    padding: 0;
    display: flex;
    align-items: flex-end;

    li {
      margin: 4px 4px 0 0;
    }

    button, a {
      font-family: $font__system;
      font-size: 12px!important;
      line-height: 1;
      border-radius: 2px;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .item-meta span { // "activo hace %s minutos"
    background: white;
    padding: 2px 4px;
    line-height: 1;
  }

  .bp-navs {
    font-size: .8em;
  }

  .learnpress {

    .lp-profile-avatar img {
        border-radius: 50%!important;
    }

    .lp-profile-header {
        background-color: white!important;
    }
  }

  .item-avatar a,
  .member-name a {
      border: 0;
  }

  #learn-press-profile-nav:before {
      background: none;
  }

  #learn-press-profile-nav {
      background: none;
  }

  .bp-navs {
    li.selected a {
      background: $color__main!important;
      color: white!important;
    }
  }

  .grid.bp-list>li .list-title {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .bp-feedback {
    display: block!important;
    background: #ebf3fc;
    box-shadow: 0 1px 8px 4px rgba(0,0,0,.1);
    color: #00529a;
    margin: 1em 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #cce2f8;
  }

  a[data-bp-close], 
  button[data-bp-close] {
    background: transparent;
  }
}


.bp-feedback {
  
  p {
    padding: .5em 1em;
    line-height: 1.4;
  }
}

@media screen and (min-width: $query__medium) {
  body.buddypress .entry-content {
      width: $size__ratio-large!important;
  }
}

// header de buddypress Pages
body.buddypress {

  .site-content {
    padding-top: 0!important;

    .entry-header {
      margin-bottom: 0!important;
      padding: 2em 1em;

      @media screen and(min-width: $query__small) {
        padding: 4em 1em!important;
      }
    }
  }

  .bp-feedback,
  .bp-messages {
    //font-family: $font__sans;
  }
}


// Perfil de buddypress
#buddypress #header-cover-image {
  background-color: $color__gris-claro;
  
}

.buddypress-wrap .bp-navs.tabbed-links {
  font-size: .9em;
}

.bp_members .post-content {
  font-family: $font__sans;
  //font-size: .8em;
}

.leanpress-buddpress-list-filters,
.lp-sub-menu {
  font-size: .8em;

  li a {
    border: none;
  }
  li a.active {
      padding-bottom: 0!important;
  }
}

.bp-widget-area {

  .widget {
    padding: 1em;

    &.widget_lp-widget-recent-courses,
    &.widget_lp-widget-featured-courses,
    &.widget_lp-widget-popular-courses {

      .entrada {
        background: white;
      }

      .archive-course-widget-outer {
        border:  1px solid $color__main-bordes;
        padding: 1em 1em 3em;
        position: relative;
        
      }

      .widget-body {
        font-size: .8em;
        background: white;
      }

      .course-student-number {
        margin: 1em 0;
      
        &:before {
          font-family: 'FontAwesome';
          content: "\f0c0";
          margin-right: .2em;
        }
      }

      .widget-footer a {
        @extend .read-more;
      }
    }

  }

  @media screen and (min-width: $query__medium) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .widget {
        flex: 0 1 50%;
    }
  }

  .course-cover {
    a {
      border: none;
    }

    img {
      width: 100%;
    }
  }
}

// BuddyPress user list page
.bp-navs ul li .count {
  border: none;
  padding: 2px 6px;
}

// Widget de miembros de budypress
.widget #members-list .item-meta {
	font-size: 0.7em;
}