
//pagina de descripción
.course {
    .post-content {

        .course-tabs{
            ul.course-nav-tabs {
                margin-bottom: 0;
                font-family: $font__sans;
                font-size: 80%;
                border-color: #f4f4f4;

                li.course-nav {
                    background: white;
                    border-radius: 4px 4px 0 0;
                    margin: 0 .3em;
                    border-color: white;
                    opacity: .5;

                    &.active {
                        @include altura1;
                        opacity: 1;
                    }
                }
            }
        }
        .course-tab-panel {
            background: white;
            padding: 2em 2em 3em;
            font-size: 90%;
        }
    }
}

.lp-single-course {


    .learn-press-breadcrumb,
    .learn-press-course-forum-link {
        font-family: $font__sans;
        font-size: .8em;
        border: none;q
        a {
            border: none;
        }
    }


}

.lp_course {
    &.has-post-thumbnail {
        .full-bleed {
            margin-top: -2em;
        }
    }
}

.widget {
    .learn-press-course-results-progress {
        background: inherit;
        border: none;
        padding: 0;
        width: 100%;
        .items-progress, .course-progress {
            padding: 0;
            margin: 0 0 1em;
        }
    }
}

.learn-press-course-results-progress{
    background: #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 1em 0;
    font-family: $font__sans;
    width: 100%;
    .items-progress, .course-progress {
        padding: 0 1em;
    }
    h4 {
        font-size: 1em;
        line-height: 1.2;
    }
}
.course-remaining-time {
    font-family: $font__sans;
    font-size: 80%;
    margin: 1em 0;
    .lp-label.label-enrolled, .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: .4em;
        margin-right: .25em;

    }
}

.course-meta,
.price {
    font-family: $font__sans;
}

.learnpress-page .lp-button {
    line-height: 1;
    height: auto!important;
}

//programa de curso y sadiebar en lecciones
.course-curriculum
ul.curriculum-sections
.section-header
.section-title {
    font-weight: 750!important;
}

.course-curriculum ul.curriculum-sections .section-content .course-item {
    font-size: .9em!important;

}

.course-curriculum
ul.curriculum-sections
.section-header {

}


.learn-press-course-results-progress{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 0;
    margin-right: 0!important;
    font-family: $font__sans;
    width: 100%;
    .items-progress, .course-progress {
        padding: 0 1em;
        background: white;
        padding: 1em;
    }
    h4 {
        font-size: 1em;
        line-height: 1.2;
    }
}
.course-remaining-time {
    font-family: $font__sans;
    font-size: 80%;
    margin: 1em 0;
    .lp-label.label-enrolled, .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: .4em;
        margin-right: .25em;

    }
}
