//lecciones
.course-header-lp {


    a, button {

     }
     button {
         font-size: 80%;
         border: none;
         background: #eee;
     }

     .lp-button-back {
         display: none;
         button {
             background: inherit;


             &:hover {
                 background: hsla(0, 100%, 100%, 0.1)
             }
         }

         @media screen and (min-width: $query__medium) {
             display: block;
         }
     }

     .course-item-search  {

         z-index: 99;
         //color: hsla(0, 100%, 100%, 0.5);

         input {
             font-size: 80%;
             &:focus {

             }
         }
         button {
             //color: white;
         }
     }

     .course-title {
         display: none; //esconder título cuando está la barra lateral y en móviles


         a {
            text-decoration: none;
            //color: hsla(0, 100%, 100%, 0.5);
         }

         @media screen and (min-width: $query__medium) {
             max-width: 90%;
             display: block;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }
     }

}

.full-screen-content-item {
    .course-title {
        display: block;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

h3.course-item-title {
    border-bottom: 3px solid #eee;
    padding-bottom: 1em;
}

.content-item-wrap {

    max-width: 780px!important;

    @media screen and (min-width: $query__small) {
        margin: 3em auto!important;
    }

    ol {
        counter-reset: list;
        list-style-type: none;
        padding-left: 0px;

        li {
            text-indent: -40px;
            margin-left: 40px;
            counter-increment: list;
            &:before {
                background-color: $color__skin;
                width: 24px;
                text-indent: 2px;
                padding-left: 0px;
                height: 24px;
                line-height: 24px;
                vertical-align: top;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                border-radius: 12px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                color: #fff;
                display: inline-block;
                font-weight: 700;
                content: counter(list);
                margin-right: 15px;
                margin-top: 4px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}



.course-meta,
.price {
    font-family: $font__system;
}

.learnpress-page .lp-button {
    line-height: 1;
    height: auto!important;
}
.curriculum-sections {
    font-family: $font__system;
    a {
        text-decoration: none;
    }
}

form[name="learn-press-form-complete-lesson"] {
    margin-top: 4em;
    //background: #eee;
    width: 100%;
    //text-align: center;
    font-size: 80%;
    position: relative;
    height: 3em;

    p {
        color: #777;
    }
    button {
        margin: 0;

        &:focus,
        &:hover {

        }
    }
}

a.toggle-content-item {
    text-decoration: none;
}

//Mensajes
.learn-press-message {
    font-family: $font__system;
    font-size: 80%;
}

#popup_container {
    font-family: $font__system;
    font-size: 90%;
    font-style: italic;

    input[type="button"] {
        line-height: 15px
    }
}
