// pagina de descripción
.course {
    .course-forum {
        font-family: $font__sans;

        a.learn-press-course-forum-link {
            font-size: inherit;
        }
    }

    .anuncio {
        width: auto;
        display: inline-block;
    }

    .post-content {
        .course-description {
            padding: 1em 0;
            @media screen and (min-width: $query__medium) {
                padding: 1em;
            }
        }
        .course-curriculum {
            
            .curriculum-sections {
                li.section {
                    border-radius: 4px;
                    border: 1px solid $color__main;
                    overflow: hidden;
                    margin-bottom: 1em;
                    font-size: 0.8em;

                    .section-header {
                        border: none;
                        background-color: $color__main-claro;
                        color: $color__main-oscuro;
                        padding: 0.5em 1em;

                        h5 {
                            font-weight: 400;
                        }
                    }
                    .section-content {
                        margin: 0;

                        .course-item a {
                            font-size: 1.1em;
                        }

                        a {
                            padding: 0 1em;
                        }
                    }
                }
            }

            .course-author > h3 {
                display: none;
            }

            // &:first-of-type {
            // margin-top: 1em;
            // }

            @media screen and(min-width: $query__small) {
                padding: 1em 2em 2em;
            }
        }

        .course-tabs {
            ul.course-nav-tabs {
                margin-bottom: 0;
                font-size: 90%;
                border-color: #f4f4f4;
                font-family: $font__sans;

                li.course-nav {
                    background: white;
                    border-radius: 4px 4px 0 0;
                    margin: 0 0.3em;
                    border-color: white;
                    opacity: 0.75;

                    &.active {
                        @include altura1;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.course-item.item-locked .course-item-status:before {
    color: #fa3c46 !important;
}

ul.curriculum-sections li.item-locked {
    padding: 0 1em !important;
}

.lp-single-course {
    .learn-press-breadcrumb,
    .learn-press-course-forum-link {
        // font-family: $font__sans;
        font-size: 0.8em;
        border: none;
        a {
            border: none;
        }
    }

    .course-students {
        @include etiqueta($color__main-superclaro, $color__main-oscuro);
    }
}

.lp_course {
    &.has-post-thumbnail {
        .full-bleed {
            margin-top: -2em;
        }
    }
}

.widget {
    .learn-press-course-results-progress {
        background: inherit;
        border: none;
        padding: 0;
        width: 100%;

        .items-progress,
        .course-progress {
            padding: 0;
            margin: 0 0 1em;
            background-color: transparent;
        }
    }
    .avatar-cont {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;

        .avatar {
            width: 80px;
            height: auto;
            border-radius: 50%;
        }
    }
}

.course-remaining-time {
    font-size: 80%;
    margin: 1em 0;
    font-family: $font__sans;

    .lp-label.label-enrolled,
    .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: 0.4em;
        margin-right: 0.25em;
    }
}

.course-meta,
.price {
    font-family: $font__sans;
}

.learnpress-page .lp-button {
    line-height: 1;
    height: auto !important;
}

// programa de curso y sidebar en lecciones
.course-curriculum ul.curriculum-sections .section-header .section-title {}

.course-curriculum ul.curriculum-sections .section-content .course-item {
    font-size: 0.9em !important;
}

.course-curriculum ul.curriculum-sections .section-header {}

.learn-press-course-results-progress {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-bottom: 2em;
    font-family: $font__sans;

    .items-progress,
    .course-progress {
        padding: 0 !important;
        background: white;
        margin: 0 !important;
    }
    h4 {
        font-size: 1em;
        line-height: 1.2;
    }

    @media screen and(min-width: $query__small) {
        display: flex;
        justify-content: space-between;

        .items-progress,
        .course-progress {
            float: none !important;
        }
    }
}
.course-remaining-time {
    font-family: $font__sans;
    font-size: 80%;
    margin: 3em 0 4em;
    .lp-label.label-enrolled,
    .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: 0.4em;
        margin-right: 0.25em;
    }
}

.course-price {
    margin: 1em 0;

    span.price {
        @include etiqueta($color__naranja-claro, $color__naranja);
        font-size: 0.9em !important;
    }
}

// Keep all lesson sections in Curriculum closed
.single-lp_course:not(.course-item-lp_lesson) {
    .lp-landing #learn-press-course-curriculum .curriculum-sections .section .section-content,
    .course-curriculum ul.curriculum-sections .section-content {
        display: none;
    }
}

.course-overview_section:nth-child(3) {
    // esconder el instructor
    display: none;
}

.course-overview_section:nth-child(4) {
    // reseñas
    font-family: $font__sans;
}

// Sección de star reviews y opiniones
.course-tab-panel-reviews {

    .course-reviews-list {
        padding-left: 0;

        .review-number {
            font-family: $font__sans;
        }

        li {
            display: flex;
            flex-wrap: wrap;
            border-color: $color__main-claro;
        }

        .review-author {
            flex: 0 0 80px;

            img {
                border-radius: 50%;
            }
        }

        .review-author-info {
            flex: 1;

            .user-name {
                font-size: 1.2em;
            }

            .review-title {
                margin: 0 0 0.5em;
                font-style: normal;
                font-size: 1em;
                width: auto;
            }
        }

        .review-text {
            flex: 1 0 100%;
        }
    }
}

.course-review-head {
    // Esconder título de opiniones porque sale repetido
    display: none;
}

/*esconder autor de curso*/
.course-info .course-instructor,
#cuestionarios-personal-li {
    display: none !important;
    visibility: none !important;
}

/*estilo de referencias*/
.accordion {
	margin: 1em 0;

    button {
        border: none;
        background-color: $color__main-claro;
        color: $color__main-oscuro;
        padding: 0.5em 1em;
		display: block;
		width: 100%;
		text-align: left;
    }

	.accordion-panel {
		font-size: 0.8em;
		display: none;
		padding: 1em;
		column-count: 2;
	}
}


// Students list plugin
.course-students-list {
    .filter-students {
        label.students-list-filter {
            font-family: $font__sans;
        }
        select {
            padding: 0.5em;
            border-radius: 4px;
            margin-left: 0.5em;
        }
    }

    .students.empty {
        font-family: $font__sans;
    }
    .students {
        li {
            border-radius: 4px;
            padding: 1em;
            border: 1px solid $color__main-bordes;
            background-color: $color__main-superclaro;
            max-width: 100%;
            font-family: $font__sans;
            display: flex;
            align-content: center;

            .name {
                line-height: 1.2;
                font-size: 0.8em;
            }
        }
    }
}
