.archive-view {
  &.learnpress {
    .site {
      .site-content {

        .page-header {
          flex-shrink: 0;
          width: 100%;
        }

        article.page {
          background: none;

          .learn-press-breadcrumb {
            font-size: 80%;
            color: #eee!important;
          }

          .post-content {
            margin: 0 auto;
          }

          .learn-press-courses {
            width: 100%;
            margin: 2em 0 0;
            
            .lp_course {
              position: relative;
    		      background: $color__gris-claro;
              border: 1px solid $color__main;
              padding: 1em 1em 4em;
              margin-bottom: 1em;
              font-family: $font__system;

              .course-permalink {
                border: none;
                height: auto;
              }

              .course-thumbnail {
                  text-align: center;
                  img {
                      margin: 0 auto;
                  }
              }
              .course-info {
                  display: block;
                  width: 100%;

                  .course-price {
                      display: block;

                  }
                  .course-instructor {
                      display: block;
                  }
              }

              .lp-course-tags {
                display: block;
                clear: both;
                text-transform: uppercase;
                line-height: 1.7em;

                .cat-links a {
                  background: $color__main-claro;
                  color: $color__main-oscuro;
                  padding: .2em .4em;
                  border: 0;
                  display: inline;
                  margin-right: .25em;

                  &:hover {
                    background: $color__main;
                    color: $color__main-claro;
                  }
                }
                .course-tags {
                  margin-top: 1em;
                  font-size: .9em;
                }
              }

              .lp-course-buttons {
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;

                  form {
                    margin: 0;
                    width: 100%;
                    display: block;
                  }

                  button {
                      @extend .read-more;
                      width: 100%;
                      display: block;
                      background: $color__main-claro;
                      border: 0;
                      border-top: 1px solid $color__main-bordes;
                      font-size: 90%;
                      padding: .5em 1em;
                      text-align: left;
                      color: $color__main-bordes;
                      border-radius: 0;
                  }
              }
            }

            @media screen and (min-width: $query__small) { // learn-press-courses
              display: flex;
      				justify-content: space-around;
      				flex-wrap: wrap;

              .lp_course {
                  width: 46%;
                  margin: 0 0 .5em;

              }

            }
            // @media screen and (min-width: $query__medium) {
            //
            //     .lp_course {
            //         width: 30%;
            //
            //     }
            //
            // }

          }
        }
      }
    }
  }
}
