//lecciones
#course-item-content-header {
  border-bottom: 1px solid $color__main-bordes!important;
  background-color: white!important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .course-item-search  {
    z-index: 99;
    border-right: 1px solid $color__main-bordes;
  }

  .course-title {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     flex: 0 1 100%;

     a {
       color: $color__main-oscuro;
     }

    @media screen and (min-width: $query__medium) {
      max-width: 90%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .lp-button-back {
    flex-shrink: 0;
    button {
      font-size: 80%;
      height: 100%;
      line-height: 1;

    }
  }

  .toggle-content-item {
   border-left: 1px solid $color__main-bordes!important;
   order: 4;
   flex: 1 0 60px;
  }
}

// Menu de lecciones
.course-curriculum {

  ul.curriculum-sections {

    li.course-item {
      font-family: $font__sans;
      color: $color__main!important;

      a {
        text-decoration: none;
        font-size: .9rem!important;
      }

      &.current {
        color: $color__main;
        background-color: $color__naranja-claro!important;
        
        &:before {
          background: $color__naranja;
        }
      }
      i.course-item-status {
        color: $color__naranja!important;
      }
      
      &.item-preview {
        i.course-item-status {
          background: $color__naranja!important;
        }
      }
      
    }

    .section-header {
      background-color: $color__main_claro;
      color: $color__main-oscuro;

      .section-title {
        font-weight: 900;
      }
      .progress-bg {
        background: white;
      }
      .step {
        font-family: $font__sans;
      }
    }

  }
}

body.course-item-popup #learn-press-content-item .content-item-wrap { 
  // contenido dentro de la leccion
  padding-bottom: 100px; // importante por la barra fija en la parte inferior

  .course-item-title { // título de leccion
    border-bottom: 2px solid $color__main-bordes;
    padding-bottom: 1em;
    letter-spacing: normal;
  }

  ol,ul {
    margin: 1em 0;
    li {
      margin-bottom: 1em;
    }
  }

  @media screen and (min-width: $query__small) {
      max-width: 740px!important;
  }

}

//Bloque de archivo
.wp-block-file {
  border: 1px solid $color__main-claro;
  box-shadow: 2px 2px 5px hsla(0, 0, 0, .1);
  padding: 1em 1em 1em 2.5em;
  font-family: $font__sans;
  text-align: left;
  margin: 2em 0;
  position: relative;

  &:before {
    content: "\f0f6";
    font-family: "FontAwesome";
    color: $color__main;
    margin-right: .4em;
    margin-left: -1em;
  }

  a {
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }

  .wp-block-file__button {
    background: $color__naranja;
    color: white;
    border: none;
    clear: both;
    font-size: .8em;
  }
}

// block lab recuadro con ícono
.content-item-wrap,
.hentry {
  .recuadro {
    background: white;
    box-shadow: 2px 2px 5px hsla(0, 0, 0, .1);
    border: 1px solid $color__main-claro;
    padding: 1em 1.5em;
    margin: 2em 0;
    position: relative;
    height: auto;
    min-height: 100px;
    display: block;
    width: auto;

    &.icono {
      background-image: url('images/icons/about_icon.svg');
      background-repeat: no-repeat;
      background-position: center 1em;
      background-size: 5em auto;
      padding-top: 6em;
      
      @media screen and(min-width: $query__medium) {
        background-position: 1em 1.5em;
        background-size: 6em;
        padding-top: 1em;
        padding-left: 8.5em;
      }
    }

    &.preguntas {
      background-image: url('images/icons/questions_icon.svg'); 
    }
    &.video {
      background-image: url('images/icons/video_icon.svg');
    }
    &.actividad {
      background-image: url('images/icons/activities_icon.svg');
    }
    &.nota {
      background-image: url('images/icons/note_icon.svg');
    }
    &.mirada {
      background-image: url('images/icons/additional_look_icon.svg');
    }
    &.documento {
      background-image: url('images/icons/documents_icon.svg');
    }
    &.audio {
      background-image: url('images/icons/audio_icon.svg');
    }
    &.imagen {
      background-image: url('images/icons/images_icon.svg');
    }
    &.info {
      background-image: url('images/icons/information_icon.svg');
    }

    @media screen and (min-width: $query__medium) {
      margin: 2em 0;
      padding: 2em 3em;
    }

    .text {
      h3 {
        margin: 0 0 .5em;
        color: $color__main-oscuro;
      }
    }
  }
}

form[name="learn-press-form-complete-lesson"] {
  margin-top: 4em;
  //background: #eee;
  width: 100%;
  //text-align: center;
  font-size: 80%;
  position: relative;
  height: 3em;

  p {
    color: #777;
  }
  button {
    margin: 0;

    &:focus,
    &:hover {

    }
  }
}

a.toggle-content-item {
  text-decoration: none;
}

//Mensajes
.learn-press-message {
  font-size: 80%;
}

#popup_container {
  font-family: $font__sans;
  font-size: 90%;
  font-style: italic;

  input[type="button"] {
    line-height: 15px
  }
}

.learn-press-content-protected-message {
  text-align: center;
  font-family: $font__sans;
  max-width: $query__small;
  margin: 2em auto 0;
  
  .lock-icon {
    width: 40px;
    height: 40px;
    margin: .5em auto;
    font-size: 32px;
    background-color: #fa3c46;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
  }


}


//tablas is-style-stripes
body.learnpress {
  table.is-style-regular {
    border: 1px solid #333;
    font-size: .8em;
    font-family: $font__sans;
    margin: 3em 0;

    th, td {
      border: 1px solid #333;
    }
    td {
      padding: .5em;
    }
  }
  table.is-style-stripes {
    margin: 3em 0;
    font-family: $font__sans;

    td {
      padding: .5em;
    }
  }
  
}

.button-complete-lesson {
  &:after  {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-left: .25em;
  }
}
.learn-press-form.completed p {
  background: $color__main-superclaro;
  padding: .5em;
}

.learn-press-message,
.learn-press-form.completed p {
  font-family: $font__sans;
}

form[name="learn-press-form-complete-lesson"] {
  text-align: right;
  margin-bottom: 2em;
}


/*tablas en contenidos de curso*/
#learn-press-content-item table td,
.hentry table td,
.content-area table td {
	padding: .5em!important;
}


