//pagina de descripción
.course {

  .course-forum {
    font-family: $font__system;

    a.learn-press-course-forum-link {
      font-size: inherit;
    }
  }


  .post-content {

      .course-overview_section {
          margin-bottom: 1em;
          background: white;
          padding: 1em 1em 2em;
          border: 1px solid $color__main-claro;
          box-shadow: -1px 2px 2px hsla(0, 0%, 10%, .1);
          border-radius: 4px;

          .curriculum-sections {

            li.section {
              border-radius: 4px;
              border: 1px solid $color__main;
              overflow: hidden;
              margin-bottom: 1em;
              font-size: .8em;

              .section-header {
                border: none;
                background-color: $color__main-claro;
                color: $color__main-oscuro;
                padding: .5em 1em;

                h5{
                  font-weight: 400;
                }
              }
              .section-content {
                margin: 0;

                .course-item a {
                  font-size: 1.1em;
                }

                a {
                  padding: 0 1em;
                }
              }
            }
          }


          .course-author>h3 {
              display: none;
          }

          &:first-of-type {
              margin-top: 1em;
          }

          @media screen and (min-width: $query__small) {
              padding: 1em 2em 2em;
          }
      }

      // .course-tabs{
      //     ul.course-nav-tabs {
      //         margin-bottom: 0;
      //         font-size: 80%;
      //         border-color: #f4f4f4;
      //
      //         li.course-nav {
      //             background: white;
      //             border-radius: 4px 4px 0 0;
      //             margin: 0 .3em;
      //             border-color: white;
      //             opacity: .5;
      //
      //             &.active {
      //                 @include altura1;
      //                 opacity: 1;
      //             }
      //         }
      //     }
      // }
      // .course-tab-panel {
      //     background: white;
      //     padding: 2em 2em 3em;
      //     font-size: 90%;
      // }
  }
}

.lp-single-course {


    .learn-press-breadcrumb,
    .learn-press-course-forum-link {
        //font-family: $font__system;
        font-size: .8em;
        border: none;q
        a {
            border: none;
        }
    }

    .course-students {
      @include etiqueta($color__main-superclaro, $color__main-oscuro);
    }


}

.lp_course {
    &.has-post-thumbnail {
        .full-bleed {
            margin-top: -2em;
        }
    }
}

.widget {
  .learn-press-course-results-progress {
    background: inherit;
    border: none;
    padding: 0;
    width: 100%;

    .items-progress, .course-progress {
      padding: 0;
      margin: 0 0 1em;
    }
  }
  .avatar-cont {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;

    .avatar {
      width: 80px;
      height: auto;
      border-radius: 50%;
    }
  }

}


.course-remaining-time {
    font-size: 80%;
    margin: 1em 0;
    font-family: $font__system;

    .lp-label.label-enrolled, .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: .4em;
        margin-right: .25em;

    }
}

.course-meta,
.price {
    font-family: $font__system;
}

.learnpress-page .lp-button {
    line-height: 1;
    height: auto!important;
}

//programa de curso y sidebar en lecciones
.course-curriculum
ul.curriculum-sections
.section-header .section-title {


}

.course-curriculum ul.curriculum-sections .section-content .course-item {
    font-size: .9em!important;

}

.course-curriculum
ul.curriculum-sections
.section-header {

}


.learn-press-course-results-progress {
    display: block;
    padding: 0;
    margin-right: 0!important;
    font-family: $font__system;

    .items-progress, .course-progress {
        padding: 1em;
        background: white;
        padding: 1em;
        margin: 0!important;
    }
    h4 {
        font-size: 1em;
        line-height: 1.2;
    }

    @media screen and (min-width: $query__small) {
        display: flex;
        justify-content: space-between;

        .items-progress, .course-progress {
            float: none!important;
        }
    }
}
.course-remaining-time {
    font-family: $font__system;
    font-size: 80%;
    margin: 1em 0;
    .lp-label.label-enrolled, .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: .4em;
        margin-right: .25em;

    }
}

.course-price {
  margin: 1em 0;
  

  span.price {
    @include etiqueta($color__naranja-claro, $color__naranja);
    font-size: .9em!important;
  }
}

// Keep all lesson sections in Curriculum closed
.single-lp_course:not(.course-item-lp_lesson) {
  .lp-landing #learn-press-course-curriculum .curriculum-sections .section .section-content,
  .course-curriculum ul.curriculum-sections .section-content {
  display: none;
}
}


.course-overview_section:nth-child(3) { // esconder el instructor
  display: none;
}

.course-overview_section:nth-child(4) { // reseñas
  font-family: $font__system;
} 

//Sección de star reviews y opiniones
#course-reviews {

  .course-reviews-list {
    padding-left: 0;

    .review-author {

      float: left!important;
      
      img {
        border-radius: 50%;
      }
    }

    .review-author-info {
      display: inline-block;
    }

    .review-title {

    }

    .review-text {
      width: 100%;
      display: block;
      font-size: .9em;
    }
  }
}