.archive-view {
    &.learnpress {
        .site {
            .site-content {

                .page-header {
                    flex-shrink: 0;
                    width: 100%;
                }

                article.page {
                    background: none;

                    .learn-press-breadcrumb {
                        font-family: $font__sans;
                        font-size: 80%;
                        color: #eee!important;
                    }
                    .learn-press-courses {

                        .lp_course {
                            position: relative;
                    		background: white;
                            padding: 1em 1em 2em;
                            margin-bottom: 1em;
                            font-family: $font__sans;

                            .course-permalink {
                                border: none;
                                height: auto;
                            }

                            .course-thumbnail {
                                text-align: center;
                                img {
                                    margin: 0 auto;
                                }
                            }
                            .course-info {
                                display: block;
                                width: 100%;

                                .course-price {
                                    display: block;

                                }
                                .course-instructor {
                                    display: block;
                                }
                            }

                            .lp-course-buttons {
                                display: block;
                                margin-top: 1em;
                                button {
                                    @extend .continue-reading;
                                    width: auto;
                                    background: hsl(0, 0%, 85%);
                                    border: 0;
                                    font-size: 90%;
                                    padding: .5em 1em;

                                    &:focus,
                            		&:hover {
                            			color: white;
                            			background: $color__interactive;
                            		}
                                }
                            }
                        }

                        @media screen and (min-width: $query__small) {
                            display: flex;
            				justify-content: flex-start;
            				flex-wrap: wrap;

                            .lp_course {
                                width: 48%;

                            }

                        }

                        @media screen and (min-width: $query__medium) {

                            .lp_course {
                                width: 30%;

                            }

                        }

                    }
                }
            }
        }



    }
}
