//lecciones
#course-item-content-header {
  border-bottom: 1px solid $color__main-bordes!important;
  background-color: white!important;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .course-item-search  {
    background-color: $color__main-oscuro!important;
    z-index: 99;

    input {
      font-size: 80%;
      color: $color__main-superclaro;

       &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: $color__main-superclaro;
         opacity: 1; /* Firefox */
       }
       &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: $color__main-superclaro;
       }

       &::-ms-input-placeholder { /* Microsoft Edge */
         color: $color__main-superclaro;
       }


      &:focus {
        color: $color__main-superclaro!important;
      }
    }

    button {
        color: $color__main-superclaro!important;
    }
  }

  .course-title {
     //display: none; //esconder título cuando está la barra lateral y en móviles
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     flex: 0 1 100%;

    a {
     color: $color__main-bordes;
     text-decoration: none;
    }

    @media screen and (min-width: $query__medium) {
      max-width: 90%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .lp-button-back {

   button {
       font-size: 80%;
       @extend .botones;
       background: none;
   }

   @media screen and (min-width: $query__medium) {
     display: block;
   }
  }

  .toggle-content-item {
   border-left: 1px solid $color__main-bordes!important;
   order: 4;
   flex: 1 0 60px;
  }
}

.course-curriculum {

  .curriculum-sections {

    li.course-item {
      font-family: $font__system;
      color: $color__main!important;

      a {
        text-decoration: none;
        font-size: .9rem!important;
      }

      &.current {
        &:before {
          background: $color__main!important;
        }
      }
      i.fa {
        color: $color__verde!important;
      }
    }

    .section-header {
      background-color: $color__main-superclaro;
      border-bottom: 1px solid $color__main-bordes!important;
      .section-title {
        font-size: .9rem!important;
      }
    }

  }
}

.content-item-wrap { // contenido dentro de la leccion
  max-width: 780px!important;

  .course-item-title { //titulo de leccion
    border-bottom: 2px solid $color__main-bordes;
    padding-bottom: 1em;
    font-size: 2em!important;
    color: $color__main;
    letter-spacing: normal;
  }

  ol,ul {
    margin: 1em 0;
    li {
      margin-bottom: 1em;
    }
  }

  .wp-block-file {
    &.descarga-lectura {
      background-color: $color__naranja-claro;
      padding: 1em;
      font-family: $font__system;

      .wp-block-file__button {
        background: $color__naranja;
      }
    }
  }

  @media screen and (min-width: $query__small) {
      margin: 3em auto!important;
  }
}


form[name="learn-press-form-complete-lesson"] {
  margin-top: 4em;
  //background: #eee;
  width: 100%;
  //text-align: center;
  font-size: 80%;
  position: relative;
  height: 3em;

  p {
    color: #777;
  }
  button {
    margin: 0;

    &:focus,
    &:hover {

    }
  }
}

a.toggle-content-item {
  text-decoration: none;
}

//Mensajes
.learn-press-message {
  font-size: 80%;
}

#popup_container {
  font-family: $font__system;
  font-size: 90%;
  font-style: italic;

  input[type="button"] {
    line-height: 15px
  }
}

.learn-press-content-protected-message {
  background-color: $color__naranja-claro!important;
  font-family: $font__system;
  .icon {
    display: none;
  }
}

// block lab
.recuadro {
  background: $color__main-superclaro;
  border: 2px solid $color__main-claro;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em;
  margin: 2em 0;

  img {
    width: 100px;
    height: auto;
    margin-right: 1em;
    @media screen and (min-width: $query__small) {
      width: 150px;
    }
  }

  .text {
    h3 {
      margin: 0 0 .5em;
    }
  }
}
