
//pagina de descripción
.course {
    .post-content {
        background: white!important;
        padding: 2em 2em 3em;
    }
}

.lp-single-course {


    .learn-press-breadcrumb,
    .learn-press-course-forum-link {
        font-family: $font__sans;
        font-size: .8em;
        border: none;q
        a {
            border: none;
        }
    }


}

.lp_course {
    &.has-post-thumbnail {
        .full-bleed {
            margin-top: -2em;
        }
    }
}

.widget {
    .learn-press-course-results-progress {
        background: inherit;
        border: none;
        padding: 0;
        width: 100%;
        .items-progress, .course-progress {
            padding: 0;
            margin: 0 0 1em;
        }
    }
}

.learn-press-course-results-progress{
    background: #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 1em 0;
    font-family: $font__sans;
    width: 100%;
    .items-progress, .course-progress {
        padding: 0 1em;
    }
    h4 {
        font-size: 1em;
        line-height: 1.2;
    }
}
.course-remaining-time {
    font-family: $font__sans;
    font-size: 80%;
    margin: 1em 0;
    .lp-label.label-enrolled, .lp-label.label-started {
        background: hsla(180, 100%, 35%, 1);
        border-radius: 0;
        padding: .4em;
        margin-right: .25em;

    }
}

.course-meta,
.price {
    font-family: $font__sans;
}

.learnpress-page .lp-button {
    line-height: 1;
    height: auto!important;
}
