button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	width: auto;
    background: white;
    border: 2px solid black;
	border-color: black;
	color: black;
	font-family: $font__system;
	@include font-size(1);
	line-height: 1;
	padding: .5em 1em;

	&:hover ,
	&:active,
	&:focus {
		background: $color__interactive;
		color: black;
	}
}
