input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__main-bordes;
	background-color: $color__main-superclaro;
	border-radius: 4px;
	padding: 4px;
	font-family: $font__sans;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__main-bordes;
	font-family: $font__sans;
}

textarea {
	width: 100%;
}

label,
fieldset {
	font-family: $font__sans;
}


#buddypress {

	form.standard-form {
		input[type="checkbox"] {
			margin-right: .5em;
		}

		input[type="email"],
		input[type="password"],
		input[type="text"] {
			width: 100%!important;
			color: $color__text-input;
			border: 1px solid $color__main-bordes;
			background-color: $color__main-superclaro;
			border-radius: 4px;
			padding: 4px;
			font-family: $font__sans;
		}

		select {
			border: 1px solid $color__main-bordes;
			font-family: $font__sans;
			background-color: $color__main-superclaro;
			padding: 4px;
		}

		fieldset {
			margin-bottom: 1em;
		}

		label,
		legend {
			font-size: 90%!important;
		}

		p.field-visibility-settings-toggle,
		p.field-visibility-settings-notoggle {
			font-size: 80%;
			color: $color__gris;
		}
		button.visibility-toggle-link {
			@include etiqueta($color__naranja, $color__naranja-claro);
		}
		input[type="submit"] {
			width: auto;
		  background: $color__naranja-claro;
		  border: 2px solid $color__naranja;
			border-color: $color__naranja;
			color: $color__naranja;
			@include font-size(1);
			line-height: 1;
			padding: .5em 1em;
			border-radius: .2em;
		}
	}
}
