input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__main-bordes;
	background-color: $color__main-superclaro;
	border-radius: 4px;
	padding: 4px;
	font-family: $font__system;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__main-bordes;
	font-family: $font__system;

	&:focus{
			outline: 2;
			box-shadow: 0 0 3px 2px hsla(0, 0, 0, 0.4);
	}
}

textarea {
	width: 100%;
}

label,
fieldset {
	font-family: $font__system;
}

// HTML Form
.hf-form {
	max-width: 100%;

	input[type="text"],
	input[type="email"] {
		display: block;
	}

	label {
		font-size: .9em;
	}

	textarea {
		max-width: $query__small;
		display: block;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $color__main-bordes;
		font-style: italic;
		opacity: 1; /* Firefox */
	  }
	  
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $color__main-bordes;
		font-style: italic;
	}
	  
	::-ms-input-placeholder { /* Microsoft Edge */
		color: $color__main-bordes;
		font-style: italic;
	}

	.hf-message {

		&.hf-message-success {
			@extend .alert-success,
		}
	}
}


#buddypress {

	form.standard-form {

		.layout-wrap {

			.register-section {
				background-color: $color__main-claro;
				border-radius: 1em;
				padding: 1em 1em 2em;
				margin-bottom: 1em;

				h2.bp-heading {
					font-size: 1.5em;
					text-align: center;
					color: $color__main-bordes;

					&:before {
						content: "\f2be";
						font-family: 'FontAwesome';
						font-size: 2em;
						display: block;
						clear: both;
						margin: 0 auto;
					}
				}
			}

			@media screen and(min-width: $query__small) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: flex-start;

				.fbl-button { // si Facebook login está activado
					flex: 1 0 100%;
					order: 3;
				}

				.register-section {
					flex: 1 1 45%;
					margin: 0 .5em 1em;
				}
			}
		}

		div.show {
			font-family: $font__system;
		}

		input[type="checkbox"] {
			margin-right: .5em;
		}

		input[type="email"],
		input[type="password"],
		input[type="text"] {
			width: 100%!important;
			color: $color__text-input;
			border: 1px solid $color__main-bordes;
			background-color: white;
			border-radius: 4px;
			padding: 4px;
			font-family: $font__system;
		}

		select {
			border: 1px solid $color__main-bordes;
			font-family: $font__system;
			background-color: $color__main-superclaro;
			padding: 4px;
		}

		fieldset {
			margin-bottom: 1em;
		}

		label,
		legend {
			font-size: 90%!important;
		}

		p.field-visibility-settings-toggle,
		p.field-visibility-settings-notoggle,
		p.description {
			font-size: 80%;
			color: $color__gris;
			background: transparent;
		}
		button.visibility-toggle-link {
			@include etiqueta($color__naranja, $color__naranja-claro);
		}
		input[type="submit"] {
			width: auto;
		  background: $color__naranja-claro;
		  border: 2px solid $color__naranja;
			border-color: $color__naranja;
			color: $color__naranja;
			@include font-size(1);
			line-height: 1;
			padding: .5em 1em;
			border-radius: .2em;
		}
	}
}
