@import "buttons";

@import "fields";


.searchandfilter {
    position: relative;
    margin-bottom: 30px;

    &:before{
        font-family: 'FontAwesome';
        content: "\f002";
        height: 40px;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        line-height: 1.25;
        font-size: 100%;
    }


    ul {
        width: 100%;
        padding: 0;
        margin: 0;

        li:nth-child(1) {
            width: 100%;
            display: block;
        }
        input[name="ofsearch"] {
            width: 100%;
            position: relative;
            margin-bottom: 1em;
            border: 1px solid #c4c4c4;
            padding: 20px 20px 20px 60px;
            line-height: 22px;
            font-size: 17.1px;
            box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            transition-property: all;
            transition-duration: 120ms;
            color: #2C2D30;

            &:focus {
              box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.25);
            }
        }
        input[type="submit"] {
            margin-top: 20px;
        }
    }
    select {
        width: auto;
        max-width: 200px;
        padding: 5px 35px 5px 5px;
        font-size: .8em;
        border: 1px solid #ccc;
        height: 34px;
        border-radius: none;
        //background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
    }
    input[type="submit"] {

    }

}

.widget {
    .searchandfilter {
        &:before{
            top: 32px;
        }
        input[name="ofsearch"] {
            width: 100%;
            margin-bottom: 2em;

        }
        h4 {
            margin: 0;
        }
        ul {
            margin-bottom: 2em;
        }
        ul>li>ul{
            margin-top: 0;
        }
    }

}
