/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../layout/global";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Home page specific
--------------------------------------------------------------*/
@import "primary/front-page";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
# LearnPress
--------------------------------------------------------------*/
@import "lp/lp-courses";
@import "lp/lp-archive";
@import "lp/lp-lessons";
@import "lp/buddypress";
@import "lp/bbpress";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";
