h1, h2, h3, h4, h5, h6 {
	margin-top: .75em;
	margin-bottom: .25em;
	clear: both;
	font-family: $font__sans;
	text-rendering: optimizeLegibility;
	line-height: 1.2;
}

h1 {
	font-size: 2em;

	@media screen and (min-width: $query__small) {
		font-size: 2.2em;
	}
}

h2 {
	font-size: 1.8em;

	@media screen and (min-width: $query__small) {
		font-size: 2em;
	}
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}
