body,
button,
input,
select,
textarea {
	color: $color__text-main;
	@include font-size(.9);
	line-height: $font__line-height-body;

	@media screen and (min-width: $query__small) {
		@include font-size(1);
	}
}

body {
	font-family: $font__sans;
}

button,
input,
select,
textarea {
	font-family: $font__sans;
}

@import "headings";

@import "copy";
