.widget-area {
	margin-top: 1.5em;
}

/* Footer widgets for archive pages */
.archive-view {
	@media screen and (min-width: $query__medium) {
		&.has-sidebar {
			.footer-widgets {
				width: 100%;
			}
		}
	}
}

.widget {
	margin: 0 0 2em;
	//padding: 0 0 2em;
	font-family: $font__sans;

	ul,
	ol {
		padding: .7em 0 0;
		margin-bottom: 0;
		list-style-type: none;

		li {
			display: block;
			line-height: 2em;

			ul,
			ol {
				margin-left: .5em;

				@media screen and (min-width: 30em) {
					margin-left: 1em;
				}
			}

		}
	}

	a {
		font-weight: 600;
		text-decoration: none;

		&:hover,
		&:focus {
			border-bottom: 3px solid $color__interactive;
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		width: 100%;
		height: 2.5em;
		padding: 10px;
		font-family: $font__sans;
		border: 1px solid #ccc;
	}

}
.widget-inner {
	background: white;
	padding: 1em 1em 2em;
}
.widget-title {
	margin-top: 0;
	margin-bottom: .5em;
	font-size: 1.4em;
}

/* Archive and Categories widgets */
.widget_archive li {
	color: #7D7D7D;
}

.widget_categories .children {
	padding-top: 0;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Pages and Menu widgets */
.widget_pages .children,
.widget_nav_menu .sub-menu {
	padding-top: 0;
	padding-bottom: .5em;
}

.widget_pages,
.widget_nav_menu {

	a {
		display: block;
		padding: 1em 0;
		text-decoration: none;
		border-bottom: 1px dashed hsl(0, 0%, 50%);

		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: 1px dashed hsl(0, 0%, 50%);
		}
	}

	li {
		padding: 0;

	}

}


/* Meta widget */
.widget_meta li {
	padding: 0;
}

/* Recent comments */
.widget_recent_comments {

	li {
		line-height: 1.3em;
		padding-bottom: .5em;
	}

	a:hover,
	a:focus {
		padding-left: 0;
	}

}

/* RSS widget */
.widget_rss li {
	margin-bottom: 1em;
}
.widget li a.rsswidget {
	padding-right: .5em;
	font-size: 1em;
	line-height: 1.4em;
}

.rss-date,
.widget_rss cite {
	color: #333;
	font-size: .8em;
}

.rssSummary {
	padding: .5em 0;
	font-family: $font__serif;
	font-size: .8em;
    line-height: 1.4em;
}

/* Search widget */
// .widget_search input[type="search"] {
// 	box-sizing: border-box;
// 	width: 100%;
// 	padding: .5em 1em;
// 	border: 1px solid #c3c3c3;
// 	border-radius: 0;
// }

/* Calendar widget */
.widget_calendar {
	font-weight: 400;

	caption {
		padding: .5em 0;
		font-size: 1em;
		font-weight: 400;
		text-align: left;
	}

	thead {
		background: transparent;
		color: black;

		th {
			border-bottom-width: 2px;
		}
	}

	td {
		padding: .2em;
		font-size: .8em;
		text-align: center;
		background: white;
		border: 1px solid hsl(0, 0%, 80%);
	}

	th {
		border: none;
		text-align: center;
	}

	.pad {
		background: #eaeaea;
	}

	a {
		font-weight: 700;
		text-decoration: none;
	}

}

/* Text widget */
.textwidget {
	font-size: .9rem;
	font-family: $font__serif;
}


/* Footer widget stylings */

.footer-widgets {
	margin: 2em 0 0;
	padding: 1em 0;
	background-color: hsl(0, 0%, 20%);
	width: 100%!important;
	font-size: 1rem;

	@media screen and (min-width: $query__small) {
		padding: 2em 1em;
	}

	.widget {
		flex: 1;
		margin: 0 1em 2em;
		padding-top: 1em;

		.original-title {
			color: hsla(0, 0%, 100%, .5);
		}
	}

	.widget,
	.widget-title,
	.widget a,
	.widget_calendar thead,
	.rss-date,
	.widget_rss cite {
		color: white;
	}

	.widget_calendar td,
	.widget_calendar a {
		color: black;
	}

	@media screen and (min-width: $query__medium) {
		/* Use flex to create a responsive layout */
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		/* If only one widget is displayed, make it full width. */
		.widget:only-of-type {
			width: 100%;
		}

		/* If 2 or 3 widgets are displayed, make the second one twice as wide. */
		.widget:nth-last-child(n+2):nth-last-child(-n+3):first-child ~ .widget:nth-child(2) {
			flex: 2;
		}

		/* If 4 or more widgets are displayed, show three across when available. */
		.widget:nth-last-child(n+4),
		.widget:nth-last-child(n+4) ~ .widget {
			width: 30%;
			flex: 1 1 30%;
		}
	}

}

/*------------------------------------------
** Estilos para la search bar
------------------------------------------*/

.search-form{

    position: relative;

    &:before{
        font-family: 'FontAwesome';
        content: "\f002";
        height: 40px;
        display: inline-block;
        //color: #fff;
        position: absolute;
        top: 0;
        left: 1em;
        z-index: 1;
        line-height: 2;
        font-size: 100%;
    }

    label{
        height: 40px;
        width: 80%;
        flex-grow: 1;
        position: relative;
    }
    .search-field{
        width: 100%;
        height: 40px;
        border: 0 none;
        flex-grow: 1;
        outline: 0;
        border: 0 none;
        padding: .5em 2.5em .5em;
        -webkit-appearance: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background: hsla(0, 100%, 0%, .2);
        font-family: $font__sans;
        font-size: 95%;
        font-weight: 400;
        color: #fff;

        -webkit-transition: all .5s;
        transition: all .5s;

        &:focus{
            width: 100%;
            outline: 0;
            border: 0 none;
            -moz-box-shadow: 0 0 2px white inset;
            -webkit-box-shadow: 0 0 2px white inset;
            box-shadow: 0 0 2px white inset;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            outline-color: $color__skin;
            font-style: normal;
            background-color: $color__skin;
            color: #fff;
        }
        &::-webkit-input-placeholder {
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            //color: #fff;
        }
        &:-moz-placeholder {
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            //color: #fff;
        }
        &:-ms-input-placeholder {
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            //color: #ccc;
        }


    }


    .search-submit{
        display: none;
    }
}


//widgets de bbpress y learn-press
.widget{
	&.bbp_widget_login{
		form.bbp-login-form {
			fieldset {
				border: none;
				//padding: 0;

				label[for="user_login"] {
					width: 100%;
				}
				input[type="text"],
				input[type="password"] {
					width: 100%;
				}
			}
		}
	}
}
