.archive-view:not(.learnpress):not(.forum-archive):not(.topic-tag):not(.forum-search) {
	
	.post,
	.page,
	.curso,
	.recurso,
	.lp_quiz,
	.lp_course,
	.hentry {
		position: relative;
		background: white;
		border: 1px solid $color__main;
		padding: 1em 1em 3em;
		overflow: hidden;
		font-family: $font__sans;

		.entry-title {

			a {
				text-decoration: none;
			}
		}
	}

	@media screen and (min-width: $query__medium) {
		
		&.has-sidebar {
			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.page-header {
				width: 100%;
				flex: 1 0 100%;
			}
			.content-area {
				width: $size__ratio-large;
				margin-top: 2em;
			}

			.widget-area {
				width: $size__ratio-small;
				margin-top: 2em;
			}
		}

		&:not(.site-content) {

			.content-area {
				max-width: $size__ratio-large;
				//margin: 0 auto;
			}
		}
	}
}

// El archive de foros tiene una estructura diferente
.forum-archive,
.topic-tag,
.forum-search {
	
	@media screen and (min-width: $query__medium) {
			
			.forum,
			.hentry {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.page-header,
			.entry-header {
				width: 100%;
				flex: 1 0 100%;
			}

			.entry-content {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}

	}
}


.page-title {
	margin: 0 0 .5em;
}

.archive-description {
	//margin: -1em 0 2em;
	font-family: $font__system;
}

/* For content-none.php */
.search,
.error-404,
.archive {

	.search-box {
		margin: 0 0 2em;
		padding: 1em 2em 2em;
		color: white;
		background: $color__main-oscuro;
		font-family: $font__sans;
	}

	input[type="search"] {
		//padding: .5em;
	}
	input[type="submit"] {

		&:focus,
		&:hover {
			color: black;
		}
	}
}

.icon-none {
	text-align: center;
	img {
		width: 206px;
		height: 206px;
		margin: 0 auto;
	}
}

.sticky {
	&:before {
		content: "";
		display: block;
		width: 2em;
		height: 2em;
		position: absolute;
		top: -2px;
		right: .5em;
		background: url("images/bookmark-search.svg") no-repeat;
		background-size: contain;
	}
}

.index-image {
	img {
		display: block;
		margin: 0 auto;
	}

	a {
		&:focus > img,
		&:hover > img {
			opacity: .8;
		}
	}
}

.continue-reading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .9rem;
	width: 100%;
	font-family: $font__system;

	a {
		display: block;
		padding: .5em 1em;
		text-decoration: none;
		background: $color__main-claro;
		border: 0;
		border-top: 1px solid $color__main-bordes;

		.icon {
			position: absolute
		}
	}

}


//Archivo de recursos
.archive-view {

	.widgets-recursos {
		order: -1;
	}

	.recursos-title {
		margin-top: 0;
	}

	.recurso {

		&:before {
			content: "";
			display: block;
			width: 2em;
			height: 2em;
			position: absolute;
			top: 0;
			right: .25em;
			background: url("images/bookmark-search.svg") no-repeat;
			background-size: contain;
		}

		.recurso__content {
			display: flex;
			align-items: flex-start;

			.recurso-icon {
				width: 80px;
				height: 80px;
				flex-shrink: 0;
				margin-right: 1em;
				background: url(images/icons/document_format_icon.svg) no-repeat center center $color__gris-claro;
				background-size: 50%;
				
				@media screen and (min-width: $query__small) {
					width: 150px;
					height: 150px;
				}

				
				&.video {
					background: url(images/icons/video_format_icon.svg) no-repeat center center $color__gris-claro;
					background-size: 50%;
				}
				&.audio {
					background: url(images/icons/audio_format_icon.svg) no-repeat center center $color__gris-claro;
					background-size: 50%;
				}
				&.sitio-web {
					background: url(images/icons/web_site_format_icon.svg) no-repeat center center $color__gris-claro;
					background-size: 50%;
				}
				&.imagen {
					background: url(images/icons/image_format_icon.svg) no-repeat center center $color__gris-claro;
					background-size: 50%;
				}
			}

			.recurso__text {
				
				.entry-title {
					font-size: 1em;
					margin-bottom: 0.5em;
					margin-top: 0;
					padding-right: 1.5em;
					
					a {
						color: $color__text-main;

						&:hover {
							color: $color__naranja;
						}
					}
				}
	
				p {
					font-size: .8em;
					color: $color__gris;
					line-height: 1.4;
					margin: 0 0 .5em;
				}
				.recurso-cats {
					font-size: .8em;
					line-height: 1.1;
					text-transform: uppercase;

					span:not(:last-child) {
						&:after {
							content: " | ";
							color: $color__main;
						}
					}
					
					a {
						font-size: .8em;
					}
				}
			}

			
		}



	}
}
