.archive-view:not(.learnpress) {
	.post,
	.page,
	.curso,
	.recurso,
	.lp_quiz,
	.lp_course,
	.hentry {
		position: relative;
		background: white;
		border: 1px solid $color__main;
		border-radius: 4px;
		padding: 1em 1em 3em;
		overflow: hidden;
		font-family: $font__sans;

		.entry-title {

			a {
				text-decoration: none;
			}
		}
	}

	@media screen and (min-width: $query__medium) {
		&.has-sidebar {
			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.page-header {
				width: 100%;
				flex: 1 0 100%;
			}
			.content-area {
				width: $size__ratio-large;
				margin-top: 2em;
			}

			.widget-area {
				width: $size__ratio-small;
				margin-top: 2em;
			}

		}

		&:not(.site-content) {

			.content-area {
				max-width: $size__ratio-large;
				margin: 0 auto;
			}
		}
	}
}


.page-title {
	margin: 0 0 .5em;
}

.archive-description {
	//margin: -1em 0 2em;
	font-family: $font__sans;
}

/* For content-none.php */
.search,
.error-404 {

	.page-content {
		margin-bottom: 2em;
		padding: 1em 2em;
		color: white;
		background: $color__interactive;
	}

	input[type="search"] {
		//padding: .5em;
	}
	input[type="submit"] {
		border-color: white;
		color: white;

		&:focus,
		&:hover {
			color: black;
		}
	}
}

.sticky {
	&:before {
		content: "";
		display: block;
		width: 2em;
		height: 2em;
		position: absolute;
		top: 0;
		right: .5em;
		background: url("images/bookmark-search.svg") no-repeat;
		background-size: contain;
	}
}

.index-image {
	img {
		display: block;
		margin: 0 auto;
	}

	a {
		&:focus > img,
		&:hover > img {
			opacity: .8;
		}
	}
}

.continue-reading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .9rem;
	width: 100%;
	font-family: $font__sans;

	a {
		display: block;
		padding: .5em 1em;
		text-decoration: none;
		background: $color__main-claro;
		border: 0;
		border-top: 1px solid $color__main-bordes;

		.icon {
			position: absolute
		}
	}

}


//Archivo de recursos
.archive-view {

	.recurso {

		&:before {
			content: "";
	    display: block;
	    width: 2em;
	    height: 2em;
	    position: absolute;
	    top: 0;
	    right: .5em;
			background: url("images/bookmark-search.svg") no-repeat;
			background-size: contain;
		}

		figure.recurso-index-img {
			width: 100%;
			height: 200px;
			overflow: hidden;
			background: $color__skin;

			img {
				width: 100%;
			}
		}
		.recurso__content {

			.entry-title {
				font-size: 1.2em;
				margin-bottom: 0.5em;
			}

			p {
				font-size: .8em;
				color: $color__gris;
			}
			.recurso-cats {
				font-size: .9em;

				a {
					@include etiqueta($color__naranja, $color__naranja-claro);
					text-decoration: none;
					font-size: .9em;
				}
			}

			@media screen and (min-width: $query__small) {
				display: flex;
				align-items: flex-start;

				figure.recurso-index-img {
					width: $size__ratio-small;
					height: auto;
				}
				.recurso__text {
					padding: 0 2em;
					width: $size__ratio-large;
					flex-grow: 2;
				}
			}
		}



	}
}

//Beautiful taxonomy filter  - plugin
.beautiful-taxonomy-filters,
.beautiful-taxonomy-filters-active-filter {
	margin: 0 0 2em!important;
	font-size: .9rem;

}

.beautiful-taxonomy-filters {
	.filter-count-many {
		margin-bottom: .5em;
	}
	button {
		background-color: $color__interactive;
		&:hover {
			color: white;
		}
	}

}
