.archive-view:not(.learnpress) {
	background-color: #eee;

	.post,
	.page,
	.curso,
	.recurso,
	.lp_quiz,
	.lp_course {
		position: relative;
		background: white;
	}

	.post__content {
		padding: 2em 2em 3em;
	}

	@media screen and (min-width: $query__medium) {
		&.has-sidebar {
			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.page-header {
				width: 100%;
				flex: 1 0 100%;
			}
			.content-area {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}

		}
	}
}


.page-title {
	margin: 0 0 .5em;
}

.archive-description {
	margin: -1em 0 2em;
}

/* For content-none.php */
.search,
.error-404 {

	.page-content {
		margin-bottom: 2em;
		padding: 1em 2em;
		color: white;
		background: $color__interactive;
	}

	input[type="search"] {
		//padding: .5em;
	}
	input[type="submit"] {
		border-color: white;
		color: white;

		&:focus,
		&:hover {
			color: black;
		}
	}
}

.sticky::before {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 2em 2em 0;
    border-color: #eee #eee white;
    border-style: solid;
    box-shadow: -1px 2px 2px hsla(0, 0%, 10%, .1);
}

.index-image {
	img {
		display: block;
		margin: 0 auto;
	}

	a {
		&:focus > img,
		&:hover > img {
			opacity: .8;
		}
	}
}

.continue-reading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .9rem;

	a {
		display: block;
		padding: .5em 1em;
		font-size: 90%;
		text-decoration: none;
		background: hsl(0, 0%, 85%);

		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
		}
	}

}


//Archivo de recursos
.archive-view {
	.recurso {

		figure.recurso-index-img {
			width: 100%;
			height: 200px;
			overflow: hidden;
			background: $color__skin;
			img {
				width: 100%;
			}
		}
		.recurso__content {
			padding: 1em 2em 3em;

			h2.entry-title {
				font-size: 1.25em;
				margin-bottom: 0.5em;
			}
			.recurso-cats {
				font-family: $font__system;
				font-size: 0.9rem;
				p {
					margin: 0;
				}
			}
		}


		@media screen and (min-width: $query__small) {
			display: flex;
			align-items: stretch;

			figure.recurso-index-img {
				width: $size__ratio-small;
				height: auto;
			}

			.recurso__content {
				width: $size__ratio-large;
				flex-grow: 2;
			}
		}
	}
}

//Beautiful taxonomy filter  - plugin
.beautiful-taxonomy-filters,
.beautiful-taxonomy-filters-active-filter {
	margin: 0 0 2em!important;
	font-size: .9rem;

}

.beautiful-taxonomy-filters {
	.filter-count-many {
		margin-bottom: .5em;
	}
	button {
		background-color: $color__interactive;
		&:hover {
			color: white;
		}
	}

}
