.archive-view {
	background-color: #eee;

	.post,
	.page,
	.curso,
	.recurso {
		position: relative;
		background: white;
		border-radius: 8px;
		box-shadow: 4px 4px 12px hsla(0, 0%, 10%, .1);
		border: 1px solid hsl(0, 0%, 90%);
		background-clip: padding-box;
		overflow: hidden;
	}

	.post__content {
		padding: 2em 2em 5em;
	}

	@media screen and (min-width: $query__medium) {
		&.has-sidebar {
			.site-content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.page-header {
				width: 100%;
				flex: 1 0 100%;
			}
			.content-area {
				width: $size__ratio-large;
			}

			.widget-area {
				width: $size__ratio-small;
			}

		}
	}
}

.page-header {
	font-family: $font__headings;
}

.page-title {
	margin: 0 0 .5em;
}

.archive-description {
	margin: -1em 0 2em;
}

/* For content-none.php */
.search,
.error-404 {

	.page-content {
		margin-bottom: 2em;
		padding: 1em 2em;
		font-family: $font__headings;
		color: white;
		background: $color__interactive;
	}

	input[type="search"] {
		padding: .5em;
	}
	input[type="submit"] {
		border-color: white;
		color: white;

		&:focus,
		&:hover {
			color: black;
		}
	}
}

.sticky::before {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 2em 2em 0;
    border-color: #eee #eee white;
    border-style: solid;
    box-shadow: -1px 2px 2px hsla(0, 0%, 10%, .1);
}

.index-image {
	img {
		display: block;
		margin: 0 auto;
	}

	a {
		&:focus > img,
		&:hover > img {
			opacity: .8;
		}
	}
}

.continue-reading {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: $font__headings;
	background: hsl(0, 0%, 96%);
	padding: 1em;
	text-align: right;

	a {
		//display: block;
		padding: .75em 1em;
		font-size: 90%;
		text-decoration: none;
		background: hsl(0, 0%, 85%);
		border-radius: 4px;

		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
		}
	}

}
