// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 18) * 1px;
	font-size: $sizeValue * 1.2rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


@mixin altura1() {
	box-shadow: 0px 0px 4px rgba(0,0,0,.2);
}

@mixin borde-redondeado($radio) {
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	border-radius: $radio;
}
