.site-footer {
	position: relative;
	padding: 1em;
	font-family: $font__headings;
	color: #fff;
	background-color: $color__skin;
	text-align: center;

	a {
		font-weight: 400;
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: currentColor!important;
		}
	}

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-footer__wrap {
	max-width: $size__max-width;
	margin: 0 auto;

	@media screen and (min-width: $query__medium) {
		display: flex;
		justify-content: space-between;
	}
}

.site-info {
	margin: 1em 0 1em auto;
	align-self: center;

	@media screen and (min-width: $query__medium) {
		text-align: right;

		span {
			display: block;

		}
	}
	
	.info-menu {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
			}

			a {
				display: block;
				padding: .5em 1em;
				color: currentColor;
				text-decoration: none;
				opacity: .6;

				&:hover,
				&:focus {
					text-decoration: underline;
					opacity: 1;
				}
			}
		}

	}
}

.social-menu {
	margin: 1em 0;
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		@media screen and (min-width: $query__medium) {
			justify-content: flex-start;
		}

		a {
			display: block;
			padding: .5em 1em;
			color: currentColor;
			text-decoration: none;
			opacity: .6;

			&:hover,
			&:focus {
				text-decoration: underline;
				opacity: 1;
			}
		}
	}
}

.creditos {
	font-size: .66em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: hsla(0, 0%, 100%, .4);
	margin-top: 4em;
	color: currentColor;

	a {
		font-weight: 700;
		color: currentColor;
		opacity: .6;

		&:hover,
		&:active {
			opacity: 1;
			color: currentColor;
		}
	}
}

// Menu inst
.menu_Inst,
.toggle {
	font-size: 0.7em;
}

.tools {
	display: none;
	visibility: none;
}

ul.menu_Inst {
	overflow: auto;
	background: #fff;
}

// Footer UNED
#footer-sub #footer {
	background: inherit;
	font-family: $font__headings;
	position: relative;

	#iconos {
    float: none;
    margin: 0;
    position: absolute;
    right: 4px;
    top: 0px;
	}
}

#footer {
  color: $color__text-input;
  font-size: 0.8em;
  height: 38px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 3px;
  padding-bottom: 8px;
  text-align: center;
	max-width: 1340px;
	background:hsla(0, 100, 100, .8)!important;
}
#footer a {
  color: $color__text-input;
	text-decoration: underline;
}
#footer a:hover {
	color: $color__text-screen;
	text-decoration: underline;
}
#footer-inner {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
}
#footer-inner,
#footer {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1280px;
}
