/**
 * Theme: pemscores
 * Editor styles for TinyMCE
 */


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import url("https://use.typekit.net/oma6nzd.css");

body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 16.2px;
	font-size: 1.08rem;
	line-height: 1.66;
}

.editor-styles-wrapper p {
	font-family: "proxima-nova", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}


/* post title */
.editor-post-title__block .editor-post-title__input,
.wp-block-heading h1, 
.wp-block-heading h2, 
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	font-family: "futura-pt", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

/* Ancho del editor de gutenberg */
@media screen and ( min-width: 768px ) {
	.edit-post-visual-editor .editor-post-title__block,
	.edit-post-visual-editor .editor-block-list__block {
		max-width:	900px;
	}
}


/* Tabla de programa */
table.agenda,
.is-style-agenda {
	margin: 3em 0 !important;
	line-height: 1.3;
	border-collapse: separate !important;
	border-spacing: 4px !important;
}

table.agenda br,
.is-style-agenda br {
	content: "" !important;
	display: block !important;
	margin-bottom: .5em !important;
}

table.agenda tr,
.is-style-agenda tr {
	border: none;
	transition: all .5s;
}

table.agenda td,
.is-style-agenda td {
	border: none;
	padding: 1em;
	vertical-align: top;
	border-radius: 4px;
	vertical-align: middle;
}

table.agenda td:empty,
.is-style-agenda td:empty {
	background-color: #fff !important;
}

table.agenda td:nth-child(1),
.is-style-agenda td:nth-child(1) {
	background-color: #fff;
	font-size: .9em;
}

table.agenda td:nth-child(2),
table.agenda td:nth-child(5),
.is-style-agenda td:nth-child(2),
.is-style-agenda td:nth-child(5) {
	background-color: #9edf7d;
}

table.agenda td:nth-child(3),
table.agenda td:nth-child(6),
.is-style-agenda td:nth-child(3),
.is-style-agenda td:nth-child(6) {
	background-color: #FFBC57;
}

table.agenda td:nth-child(4),
table.agenda td:nth-child(8),
.is-style-agenda td:nth-child(4),
.is-style-agenda td:nth-child(8) {
	background-color: #b7cdff;
}

