/**
 * Theme: pemscores
 * Editor styles for TinyMCE
 */


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import url("https://use.typekit.net/oma6nzd.css");

body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 16.2px;
	font-size: 1.08rem;
	line-height: 1.66;
}

.editor-styles-wrapper p {
	font-family: "proxima-nova", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}


/* post title */
.editor-post-title__block .editor-post-title__input,
.wp-block-heading h1, 
.wp-block-heading h2, 
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	font-family: "futura-pt", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

/* Ancho del editor de gutenberg */
@media screen and ( min-width: 768px ) {
	.edit-post-visual-editor .editor-post-title__block,
	.edit-post-visual-editor .editor-block-list__block {
		max-width:	900px;
	}
}

