html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

figcaption {
	font-family: $font__sans;
	font-size: .8em;
}

.alert-success {
	padding: 1em;
	border: 1px solid $color__verde;
	color: $color__verde;
	border-radius: .25em;
	background: $color__verde-claro;
}

p.small {
	font-family: $font__system;
	font-size: .8em;
	margin: 0 0 .5em;
}

.wp-block-cover, .wp-block-cover-image {
	height: auto;
	margin: 0 0 1em;
}

@import "tables";