.header-image {
	max-height: 60vh;
	overflow: hidden;

	img {
		display: block;
		width: 100vw;
	}
}
.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
	color: #fff;
	background-color: $color__skin;
}

.site-branding {
	display: flex;
	min-height: 65px;
	width: 85%;
}

.custom-logo-link {
	margin-right: 1em;
	flex: 0 0 auto;
	img {
		display: block;
		height: 65px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1em;

	a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: currentColor;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 400;
}

@media screen and (min-width: $query__small) {
	
	.site-header {
		padding: 1em 2em;
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 35%;
		flex: 1 0 auto;
	}

	.site-title {
		font-size: 1.6em;
	}

	.main-navigation {
		//width: 55%;
		margin-top: .5em;
	}
}

/*
Header Menu
*/
@import "header-menu";
