//hero-banner
.hero-banner {
	position: relative;
	width: 100vw;

	height: auto;
	overflow: auto;
	background: url(images/gplaypattern_@2X.png) repeat;

	&.custom-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.home-search {
		width: 100%;
	    max-width: 620px;
	    margin: 0px auto;
		padding: 75px 1em 110px;
		text-align: center;

	}
}

.site-header {
	position: relative;
	padding: 1em;
	color: #fff;
	background-color: $color__skin;

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	display: flex;
	min-height: 65px;
}

.custom-logo-link {
	margin-right: 1em;
	img {
		display: block;
		height: 65px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1em;

	a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 400;
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 35%;
		flex: 1 0 auto;
	}

	.site-navigation {
		width: 55%;
	}
}


//hero-banner


/*
Header Menu
*/
@import "header-menu";
