.header-image {
	max-height: 60vh;
	overflow: hidden;

	img {
		display: block;
		width: 100vw;
	}
}
.site-header {
	position: relative;
	font-family: $font__headings;
	color: #fff;
	background-color: $color__skin;
}

.site-branding {
	display: flex;
	min-height: 80px;
	width: 85%;
	padding: 1em;
}

.custom-logo-link {
	margin-right: 1em;
	flex: 0 0 auto;
	
	img {
		display: block;
		height: 80px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: 600;
	line-height: 1em;

	a {
		color: currentColor;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: currentColor;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .8em;
	font-style: italic;
	font-weight: 400;
	line-height: 1.2;
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-branding {
		width: 40%;
		flex: 1 0 auto;
		margin: 1em 0 1em 1em;
	}

	.site-title {
		font-size: 1.4em;
	}
	.site-description {
		font-size: 1em;
	}

	.main-navigation {
		width: 55%;
		margin-right: 2em;
	}
}

/*--------------------------------------------------------------
## Menu Header
--------------------------------------------------------------*/
@import "header-menu";
