.site-header {
	padding: 1em;
	color: $color__main-bordes;
	background-color: $color__main-claro;
	font-family: $font__sans;


	@media screen and (min-width: $query__small) {
		padding: 1em 1.5em;
	}
}

.site-branding {
	height: 60px;
}

.custom-logo-link {
	img {
		height: 60px;
		width: auto;
	}
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1em;

	a {
		color: $color__interactive;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 400;
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {

	}

	.site-navigation {

	}
}

//hero-banner
.hero-banner {
	position: relative;
	width: 100vw;

	height: auto;
	overflow: auto;
	background: url(images/fondo-ilustrado.svg) repeat-x center bottom $color__main-claro;
	background-size: auto 70%;

	&.custom-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.hero-title {
		width: 410px;
		height: 201px;
		max-width: 80%;
		background: url("images/logo-full.svg") no-repeat;
		margin: 50px auto 65px;
		@include hideText();
	}
}

// Más estilos de la pagina principal front-page
.search-section {

	.home-search {
		width: 100%;
    max-width: $query__small;
    margin: 0 auto;
		text-align: center;
		padding: 1em 0 2em;

	}
}

.fp-content {
	max-width: $query__small;
	margin: 0 auto;
	font-size: 1.2em;
	padding: 1em 0;
}

/*
Header Menu
*/
@import "header-menu";
