.main-navigation {
	display: block;
	clear: left;
	line-height: 1.2;
	font-size: 1rem;
	text-rendering: optimizeLegibility;

	ul.menu {
		margin-top: 1em;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;

			ul {
				top: 0;
			}

			li {
				padding-left: 1em;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				//width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		color: $color__main-oscuro;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .75em 1em;
		text-decoration: none;
		color: $color__main-oscuro;
	}

	a:hover,
	a:focus {
		color: $color__main-bordes;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.menu-item-has-children,
	.page_item_has_children {
		//min-width: 218px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 2em;
	}
}

button.dropdown-toggle {
	position: absolute;
	right: 0;
	border: none;
	background: inherit;
	color: $color__main;
	line-height: 1em;
	padding: .4em .75em;
	font-weight: 700;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 1.2em 1em 0 0;
	padding: .6em .8em;
	font-size: 1.2em;
	color: $color__main-bordes;
	border: 2px solid $color__main-bordes;

	&:hover {
		color: currentcolor;
	}
}

/* Toggle small menu and children on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;

}

//Boton de login de BP
.bp-login-nav a {

	&:after {
		font-family: 'FontAwesome';
		content: "\f090";
		margin-left: .5em;
	}
}
.bp-profile-nav a {

	&:after {
		font-family: 'FontAwesome';
		content: "\f2be";
		margin-left: .5em;
	}
}

//menu en pantallas grandes
@media screen and (min-width: $query__medium) {
	.menu-toggle {
		display: none;
	}
	button.dropdown-toggle {
		line-height: 2;
	}

	.main-navigation {

		.menu-item-has-children > a,
		.page_item_has_children > a {
			padding-right: 2em;
		}
		ul.menu {
			text-align: center;

			>li:not(:last-child):after {
				content: "|";
				position: absolute;
				right: 0;
				top: .75em;
			}

			a {
				width: 180px;
			}

		}
		ul {
			display: block;
			display: flex;
			flex-wrap: wrap;
			text-align: left;

			ul {
				flex-direction: column;
				background: hsla(0, 0%, 100%, .5);
				margin-left: 0;
				font-size: .9rem;

				li {
					padding-left: 0;

					a {
						width: 218px;
						background: none;
					}
				}
			}
		}

	}

}

@media screen and (min-width: $query__medium) {
	.main-navigation {

		ul {
			justify-content: flex-end;
			padding-top: 0;

			/* If you want dropdowns to open on hover, uncomment this: */
			/*
			li:hover > ul,
				li:focus > ul {
				display: block;
			}
			*/
		}

	}
}
