$color__skin: #BBE0F4; // Header etc.
$color__interactive: #6BA6C5; // Links, highlights, etc.

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #888;
$color__text-input-focus: #111;
$color__link: #176DCD;
$color__link-visited: #000;
$color__link-hover: $color__interactive;
$color__text-main: #444;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Colores Academia Municipal
$color__main: #006edc;
$color__main-oscuro: #00529a;
$color__main-claro: #cce2f8;
$color__main-bordes: #6696c7;
$color__main-superclaro: #ebf3fc;

$color__gris-claro: #f8f9fa;
$color__gris: #888;

$color__headings: #57544e;

$color__naranja: #ff961e;
$color__naranja-claro: #f9f2ea;

$color__verde: #5abe00;
$color__verde-oscuro: #408503;
$color__verde-claro: #eaf7df;
