/*

Estilos para el bloque Galería de sitios.

*/


/* bloque de sitios repeater */
.sitios-container {
    width: 100%;
    display: block;
}
.sitios-container a {
    text-decoration: none;
    /* color: initial; */
    transition: 0.1s all;
}
.item-sitio {
    background: #f4f4f4;
    width: 100%;
    margin-bottom: 1em;
    background: white;
    border: 1px solid lightgrey;
    transition: 0.25s all;
    position: relative;
    padding: 0 0 2.5em;
}
.item-sitio:hover {
    border: 1px solid #0947a4;
}
.item-sitio:active,
.item-sitio:focus {
    background: #0947a4;
    border: 1px solid #0947a4;
    color: white;
}
.item-sitio:active a {
    color: white;
    border-color: white!important;
}
.item-sitio .portada-sitio {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.item-sitio .portada-sitio img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.item-sitio .portada-sitio img:hover {
    opacity: 0.8;
}
.item-sitio .texto-sitio {
    padding: 1em;
    line-height: 1.2;
}
.item-sitio .nombre-sitio {
    font-size: 1.5em;
}
.item-sitio .nombre-sitio a {
    /* border-bottom: none; */
}
.texto-sitio .info-sitio {
    font-size: 0.9em;
}
.item-sitio .mu-fecha {
    font-size: 0.8em;
    padding: 0 1em;
    bottom: 0;
    position: absolute;
}
.item-sitio .mu-fecha svg {
    margin-top: 1em;
    margin-bottom: -0.25em;
    margin-right: 0.25em;
}

@media screen and (min-width: 600px) {
    .sitios-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .item-sitio {
        flex: 0 0 48%;
        margin: 0 1% 2em;
    }
}
@media screen and (min-width: 900px) {
    .item-sitio {
        flex: 0 0 30%;
    }
}