.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	text-align: left;
	overflow: hidden;
	font-size: 80%;
	width: 100%;
	margin: 2em auto;
	font-family: $font__sans;
	line-height: 1.2;

	a {
		display: block !important;
		text-decoration: none;
		padding: 0.5em;
		border: 1px solid $color__main-bordes;
		color: $color__main-bordes;

		@media screen and(min-width: $query__small) {
			padding: 1em;
		}

		&:hover,
		&:focus {
			//color: white;
		}
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0;
}

.comment-navigation,
.post-navigation {
	display: flex;
	width: 100%;

	.meta-nav {
		font-weight: 700;
		display: block;
		margin-bottom: 0.5em;
	}

	.nav-previous,
	.nav-next {
		flex: 1 1 48%;
		display: flex;
		align-items: stretch;

		a {
			width: 100%;
		}
	}

	.nav-next {
		text-align: right;
		margin-left: auto;
	}
}

.nav-previous {
	padding-bottom: 0;
}

// Navegación en las lecciones
.course-item-lp_lesson {
	.course-item-nav {
		background-color: white;
		font-family: $font__sans;
		font-size: 0.9em;
		display: flex;
		flex-wrap: nowrap;
		border-top: 1px solid $color__main-bordes !important;

		.prev,
		.next {
			padding: 0.5em;
			max-width: 50%;

			@media screen and (min-width: 768px) {
				padding: 1em;
			}

			&:hover {
				background-color: $color__main-superclaro;
			}

			a {
				width: 100%;
			}
		}

		.prev {
			margin-right: auto;
		}

		.next {
			text-align: right;
			margin-left: auto;
		}
	}

	
}

.pagination {
	font-family: $font__system;

	.nav-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	a,
	span {
		padding: 0.5em 1em;
		background: white;
		border: 1px solid $color__main-bordes;
		margin: 0 2px 4px;
		border-radius: 2px;
	}

	a {
		text-decoration: none;
		color: $color__main-bordes;

		&:focus,
		&:hover {
			background: $color__main-superclaro;
		}
	}

	.current {
		background: $color__main;
		color: white;
	}

	.prev .icon {
		margin-right: 1em;
	}

	.next .icon {
		margin-left: 1em;
	}
}
