.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation,
.course-item-nav {
	text-align: left;
	overflow: hidden;
	font-size: 80%;
	width: 100%;
	margin: 2em auto;
	font-family: $font__system;

	a {
		display: block!important;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__main-bordes;
		color: $color__main-bordes;

		&:hover,
		&:focus {
			//color: white;

		}
	}

}


.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0;
}

.comment-navigation,
.post-navigation {

	display: flex;
	width: 100%;

	.meta-nav {
		font-weight: 700;
		display: block;
	}

	.nav-previous,
	.nav-next {
		flex: 1 1 48%;
		display: flex;
		align-items: stretch;

		a {
			width: 100%;
		}
	}

	.nav-next {
		text-align: right;
		margin-left: auto;
	}
}

.nav-previous {
	padding-bottom: 0;
}





// Navegación en las lecciones
.course-item-lp_lesson {

	.post-navigation {
		background-color: white;
		overflow: hidden;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0!important;
		border-top: 1px solid $color__main-bordes;
		box-sizing: border-box;

		.nav-previous,
		.nav-next {
			flex: 1 1 48%;
			display: flex;
			align-items: stretch;

			

			a {
				border: 0;
				width: 100%;
			}
		}

		.nav-next {
			text-align: right;
			margin-left: auto;
		}
	}

	.nav-previous {
		padding-bottom: 0;
	}

	&:not(.full-screen-content-item) {
		
		.post-navigation {
			padding-left: 200px;

			@media screen and (min-width: 768px) {
				padding-left: 300px;
			}
			@media screen and (min-width: 1300px) {
				padding-left: 400px;
			}
		}
	}



}



.pagination {

	font-family: $font__system;

	.nav-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	a,
	span {
		padding: .5em 1em;
		background: white;
		border: 1px solid $color__main-bordes;
		margin: 0 2px 4px;
		border-radius: 2px;
	}

	a {
		text-decoration: none;
		color: $color__main-bordes;

		&:focus,
		&:hover {
			background: $color__main-superclaro;
		}
	}

	.current {
		background: $color__main;
		color: white;
	}

	.prev .icon {
		margin-right: 1em;
	}

	.next .icon {
		margin-left: 1em;
	}
}
