.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation,
.course-item-nav {
	text-align: left;
	overflow: hidden;
	font-size: 80%;
	width: 100%;
	margin: 2em auto;

	a {
		display: block;
		max-width: 100%;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__main-bordes;
		color: $color__main-bordes;

		&:hover,
		&:focus {
			//color: white;

		}
	}

}


.nav-links {
	margin: 0 auto;
	padding: 0 .4em;
}

.nav-previous {
	padding-bottom: 1em;
}

@media screen and (min-width: $query__medium) {

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.nav-previous,
		.nav-next {
			float: left;
			display: flex;
			align-items: stretch;
			width: 48%;
		}

		.nav-next {
			float: right;
			text-align: right;
			margin-left: auto;
		}
	}

	.nav-previous {
		padding-bottom: 0;
	}


}

.post-navigation {

	.meta-nav {
		display: block;
	}

	@media screen and (min-width: 30em) {
		padding-bottom: 1em;
	}

	.post-title {
		font-size: 1em;
		font-weight: 600;
		line-height: 1!important;
		//border-bottom: 3px solid $color__main-bordes;
	}

	a:hover .post-title,
	a:focus .post-title{
		//border-bottom-color: white;
	}

}

.pagination {

	font-family: $font__sans;

	.nav-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	a,
	span {
		padding: .5em 1em;
		background: white;
		border: 1px solid $color__main-bordes;
		margin: 0 2px 4px;
		border-radius: 2px;
	}

	a {
		text-decoration: none;
		color: $color__main-bordes;

		&:focus,
		&:hover {
			background: $color__main-superclaro;
		}
	}

	.current {
		font-weight: 600;
		color: $color__main-bordes;
	}

	.prev .icon {
		margin-right: 1em;
	}

	.next .icon {
		margin-left: 1em;
	}
}
