a {
	color: $color__main-oscuro;

	&:visited {
		color: $color__main;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__main-bordes;

	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {

	a {
		text-decoration: none;
		border-bottom: 2px solid $color__main-oscuro;

		&:focus,
		&:hover {
			color: $color__main;
		}
	}
}
