.comments-area {
	width: 100%;
	margin: 3em 0;
	padding: 0;
	border-top: 1px solid hsl(0, 0%, 80%);
	font-family: $font__sans;
}

.comments-title {
	margin-bottom: 2em;
	margin-top: 0;
	font-size: 1.5em;
	font-weight: 300;
	background-color: $color__main;
	display: inline-block;
	color: $color__main-claro;
	padding: 4px;
}

.comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	ol {
		list-style-type: none;
	}
}

.comment-body {
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 1em;
	border: 1px solid $color__gris-medio;
	border-left: 6px solid $color__naranja;
	padding: 1em;
	border-radius: 0 8px 8px 0;
	background-clip: border-box;

	@media screen and (min-width: $query__small) {
		padding: 2.5em 2em 1.5em 1.5em;
	}
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	font-size: 90%;
}

.comment-meta,
.comment-form {
	a {
		text-decoration: none;
		border: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.comment {
	.avatar {
		position: absolute;
		top: -5px;
		left: -70px;
		width: 40px;
		height: 40px;
		border-radius: 50px;
	}
}

.children {
	padding-left: 0;
	margin-left: 0;
}

.comment-metadata {
	margin-top: 0.25em;
	padding-bottom: 1em;
	line-height: 1em;
	color: $color__gris;

	a {
		color: $color__gris-medio;

		&:hover,
		&:focus {
			border-color: #c3c3c3;
		}
	}
}

.comment-author {
	font-size: 1.25em;
	line-height: 1.4em;
}

.says {
	color: $color__gris;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;

	a {
		display: inline-block;
		padding: 0.5em 1.4em;
		font-family: $font__sans;
		font-size: 85%;
		color: #000;
		line-height: 1.3em;
		text-decoration: none;
		border: 1px solid #c3c3c3;

		&:hover,
		&:focus {
			background: $color__main-claro;
			border-color: $color__main-oscuro;
		}
	}
}

.comment-content {
	font-family: $font__serif;

	ol {
		list-style-type: decimal;
	}

	a {
		word-wrap: break-word;
	}
}

.bypostauthor .avatar {
	box-sizing: content-box;
	border: 5px solid $color__interactive;
	margin-top: -5px;
	margin-left: -5px;
}

/* Comment Form */

.comment-reply-title {
	margin-bottom: 1em;
}

.comment-list .comment-reply-title {
	text-align: left;
}

.comment-form {
	line-height: 1.3em;

	a {
		font-weight: 400;
	}

	.form-submit {
		text-align: right;
	}

	.form-submit input {
		@extend .botones;
	}

	label {
		width: 33%;
		display: block;
		font-style: italic;
		padding-bottom: 0.4em;
	}

	.required {
		color: #d54e21;
	}
}

.pingback {
	font-family: $font__system;

	.comment-body {
		padding: 1em 0;
	}

	a {
		font-style: italic;
		text-decoration: none;
	}
}
