// Más estilos de la pagina principal front-page
// hero-banner
@keyframes paneo {
    0% {
        background-position-x: 3173px;
    }
    100% {
        background-position-x: 0;
    }
}

.hero-banner {
    position: relative;
    height: 500px;
    overflow: auto;
    background-image: url("images/fondo-ilustrado.svg");
    background-repeat: repeat-x;
    background-color: $color__main-superclaro;
    background-position: left bottom;
    background-size: auto 370px;
    // border-bottom: 1px solid $color__main-bordes;
    padding: 0 1em;

    @media screen and(min-width: $query__small) {
        animation-name: paneo; /* IE 10+, Fx 29+ */
        animation-duration: 60s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-timing-function: ease-out;
    }

    .hero-title {
        width: 410px;
        height: 201px;
        max-width: 80%;
        background: url("images/logo-full.svg") no-repeat;
        margin: 100px auto 20px;
        @include hideText();
    }
}

.search-section {
    .home-search {
        width: 100%;
        max-width: $query__small;
        margin: 0 auto;
        text-align: center;
        padding: 1em 0;
    }
}

.fp-content {
    max-width: $size__max-width;
    margin: 1em auto;
    font-size: 1.2em;
    font-family: $font__sans;

    .intro-text {
        margin: 0 auto 2em;
        max-width: 730px;
    }

    @media screen and(min-width: $query__small) {
        margin: 3em auto 1em;
    }
}


// paginas-destacadas
.paginas-destacadas {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    .paginas-inner {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vw);
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: scroll;
        display: flex;
        justify-content: space-between;

        @media screen and(min-width: $query__small) {
            overflow-x: auto;
            width: 100%;
        }
    }

    .pagina {
        background: $color__main-superclaro;
        border: 1px solid $color__main-bordes;
        padding: 1em 1.5em 4.5em;
        margin-bottom: 24px;
        width: 90%;
        flex-shrink: 0;
        position: relative;
        color: $color__main-bordes;
        scroll-snap-align: center;
        margin-right: 1em;
        text-align: center;

        @media screen and(min-width: $query__medium) {
            width: 30%;
            margin-right: 0;
        }

        h3 {
            font-size: 1.1em;
            margin: 0.5em 0;

            a {
                text-decoration: none;
                color: $color__main-bordes;
            }
        }

        p {
            font-family: $font__sans;
            font-size: 0.8em;
            line-height: 1.4;
        }
    }
}

.bloqueA,
.bloqueB,
.bloqueC {
    &:before {
        content: "";
        width: 100%;
        height: 120px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.bloqueA:before {
    background-image: url("images/icons/about_icon.svg");
}
.bloqueB:before {
    background-image: url("images/icons/self_training_icon.svg");
}
.bloqueC:before {
    background-image: url("images/icons/help_icon.svg");
}

.read-more {
    background: $color__main-claro;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 0.75em;
    font-family: $font__sans;
    text-align: left;
    color: $color__main-bordes;
    text-decoration: none;
    border: 0;
    border-top: 1px solid $color__main;
    transition: background-color 0.5s;

    &:hover,
    &:active,
    &:focus {
        background: $color__main;
        color: $color__main-superclaro;
    }
    .icon {
        position: absolute;
        right: 0.5em;
        top: calc(50% - 8px);
        transition: all 0.5s;
    }

    &:hover .icon {
        right: 1.5em;
    }
}
