.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;

		&:focus,
		&:hover {
			background-color: $color__interactive;
			color: white;
		}
	}
}

.entry-meta,
.entry-footer {
	//font-family: $font__sans;
	font-size: 90%;

	a {
		font-weight: 700;
	}
}
.migajas,
.learn-press-breadcrumb {
	font-size: 80%;
	display: block;
	width: 100%;
	font-family: $font__sans;
	margin: 1em 0;
	color: $color__main-oscuro;

	a {
		color: currentColor;
		border: none !important;
		padding: 0 !important; //lleva important porque el enlace tiene class .post lo que hereda estilos del post de archive
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 0.5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 0.5em;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.extra {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {
	.entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.post-content__wrap {
			.entry-meta {
				margin-top: 2.25em;
				font-size: 80%;

				a {
					font-size: 110%;
					display: block;
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}
	}
}

/* Single Post Featured Images */

.full-bleed {
	width: 100%;
	min-height: 200px;
	max-height: 320px;
	border-bottom: 1px solid $color__main-claro;
	overflow: hidden;
	position: relative;

	@media screen and (min-width: $query__large) {
		max-height: 800px;
	}

	img {
		display: block;
		margin: 0 auto;
		max-height: 800px;
		min-height: 300px;
		object-fit: cover;
	}
}
// título del curso cuando hay imagen
.course-title_wrap {
	background: $color__gris-claro;
	width: 100%;
	border-bottom: 1px solid $color__main-claro;
}
h1.course-title {
	font-size: 2rem;
	margin: 0 auto;
	max-width: $size__max-width;
	padding: 0.5em;

	@media screen and (min-width: $query__small) {
		font-size: 2.5rem;
	}

	@media screen and (min-width: $query__medium) {
		font-size: 3.5rem;
	}
}

// Títulos de single posts
.entry-header {
	flex: 1 0 100%;
	width: 100%;
}

// Títulos de páginas
.page-header {
	background: $color__main-superclaro;
	width: 100%;
	border-bottom: 1px solid $color__main-claro;
	position: relative;
	padding: 2.5em 1em;
	flex: 1 0 100%;

	.page-title {
		color: $color__main-oscuro;
		margin: 0 auto;
		max-width: $size__max-width;
		padding: 0 0 0.2em;
		border-bottom: 3px solid $color__main-oscuro;

		@media screen and(min-width: $query__medium) {
			padding: 0 0.5em 0.2em;
			box-sizing: border-box;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.single:not(.learnpress) {
	.entry-content {
		background: white;
		padding: 1em 1em 2em;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__sans;
}

//content-recurso
.recurso-wrap {
	width: 100%;
	max-width: $size__max-width;
	height: auto;
	padding: 0;
	//margin-top: 2em;
	margin-bottom: 2em;
	position: relative;
	@extend .sticky;
	border: 2px solid $color__main-claro;
	border-radius: 0.2em;
	font-family: $font__sans;

	.recurso-header {
		background: $color__main-superclaro;
		padding: 40px 70px 40px 1em;
		border-bottom: 2px solid $color__main-claro;

		h1 {
			//border-bottom: 2px solid $color__main-oscuro;
			margin: 0;
			color: $color__text-main;
			font-size: 1.6em;
		}
	}

	.recurso-media {
		padding: 0;
		min-height: 200px;
		//max-height: 400px;
		//background: $color__gris-claro;
		position: relative;
		box-sizing: content-box;

		.recurso-icon {
			position: absolute;
			top: calc(50% - 100px);
			left: calc(50% - 100px);
			width: 200px;
			height: 200px;
			background-size: 80%;
			background: url(images/icons/document_format_icon.svg) no-repeat center center;

			&.video {
				background: url(images/icons/video_format_icon.svg) no-repeat center center;
				background-size: 80%;
			}
			&.audio {
				background: url(images/icons/audio_format_icon.svg) no-repeat center center;
				background-size: 100%;
			}
			&.sitio-web {
				background: url(images/icons/web_site_format_icon.svg) no-repeat center center;
				background-size: 80%;
			}
			&.imagen {
				background: url(images/icons/image_format_icon.svg) no-repeat center center;
				background-size: 80%;
			}
		}

		img {
			padding: 0;
			object-fit: cover;
			width: 100%;
		}
	}
	.recurso-content {
		padding: 2em 1em;
		font-size: 0.9em;

		h1.entry-title {
			font-size: 1.5em;
			color: $color__main-oscuro;
		}

		.termino {
			margin: 0 0.15em;
		}
	}

	ul.recurso_tags {
		list-style: none;
		padding-left: 0;
	}

	.recurso_tags {
		//font-size: 1em;
		margin-top: 1em;

		i.fa {
			margin-right: 3px;
		}

		p {
			margin: 0.5em 0;
		}

		a {
			//color: $color__naranja;
			//border-bottom: 1px solid $color__naranja;
			text-decoration: none;
		}

		&.recurso-link {
			background: #fff;
			padding: 0.5em 1em;
			margin: 1em 0;
			border: 1px solid $color__main-claro;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
			border-radius: 2px;

			a {
				//separar el link si es muy largo siempre
				border-bottom: 1px solid white;
				text-decoration: none;
				overflow-wrap: break-word;
				word-wrap: break-word;
				word-break: break-word;
				hyphens: auto;
			}
		}
	}

	.cc-license {
		//estilos para el texto de CC
		padding: 1em 0 0;
		font-size: 0.8em;
		border-top: 2px solid $color__main-claro;

		a:first-child {
			float: left;
			margin: 0 0.5em 0.5em 0;
			border: none;
		}
		br {
			display: none;
		}
	}

	.descripcion {
		padding: 1em;
		background-color: $color__gris-claro;
		font-family: $font__serif;

		h2 {
			font-size: 1em;
		}

		@media screen and (min-width: $query__small) {
			padding: 1em 2em;
			margin: 0 auto;
		}
		@media screen and (min-width: $query__medium) {
			padding: 1em 4em;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: $query__medium) {
		.recurso-inner {
			display: flex;
			align-items: flex-start;
		}
		.recurso-media {
			width: 50%;
			padding: 2em;
			min-height: 480px;
		}
		.recurso-content {
			width: 50%;
			padding: 2em;
		}
	}
}

.recurso-secundario {
	

	@media screen and (min-width: $query__medium) {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;

		.content-area {
			width: $size__ratio-large;
		}

		.widget-area {
			width: $size__ratio-small;
		}
	}

	.comments-area {
		margin: 0;
		padding: 0;
		border-top: 1px solid #cccccc;
	}

	.relacionados {
		padding: 1em;
		font-family: $font__sans;
		background: $color__main-superclaro;

		h4 {
			margin: 0 0 0.5em;
		}

		ul {
			list-style: none;
			padding-left: 0;
			li {
				margin-bottom: 1em;
				line-height: 1.4;

				a {
					color: $color__text-main;
					&:hover {
						color: $color__naranja;
					}
				}
			}
		}
	}
}

//página de perfil
.profile {
	#learn-press-profile-header {
		//background: none;
	}
	.lp-profile-avatar {
		position: relative;

		img {
			border-radius: 50% !important;
		}
		.profile-name {
			position: absolute;
			text-align: left;
			left: 120%;
			top: 20%;
			width: 100%;
			min-width: 200px;
		}
	}
}

//avatar
.avatar-circular {
	border-radius: 50%;
	border: 2px solid $color__main;
}

//rate my post
.rmp-results {
	font-family: $font__sans;
}
.rmp-main {
	margin: 3em 0 1em;
	padding: 1em 0;
	font-family: $font__sans;
	border-top: 1px solid $color__main-bordes;
}
// Widget de rate my post
.rmp-tr-posts__star-rating,
.rmp-tr-posts__link {
	text-align: left;
	max-width: inherit;
}

.rmp-tr-posts__link {
	margin-bottom: 2em;
	font-size: 1em;
}

// Hide instructor
.course-nav-tab-instructor {
	display: none !important;
}
