.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	/* Enlaces sin borde */
	figure {
		a, a:hover, a:active, a:focus {
			border: none;
		}
	}
}

.entry-header {
	font-family: $font__headings;
}

.cat-links {
	font-size: 80%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;

		&:focus,
		&:hover {
			background-color: $color__interactive;
			color: white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 1.6em;
	line-height: 1.2;

	@media screen and (min-width: $query__medium) {
		font-size: 2.2em;
	}

	a {
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			border-bottom: 5px solid $color__interactive;
		}
	}
}

.entry-meta,
.entry-footer {
	font-family: $font__body;
	font-size: 80%;

	a {
		font-weight: 700;
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			color: black;
			border-bottom: 3px solid $color__interactive;
		}
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.extra {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {

	.entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.post-content__wrap {

			.entry-meta {
				margin-top: 2.25em;
				font-size: 80%;

				a {
					display: block;
					border-bottom: 3px solid white;

					&:hover,
					&:focus {
						border-bottom-color: $color__interactive;
					}
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}

	}
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 800px;
	margin: -1em 0 1em -1em;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;

	@media screen and (min-width: $query__small) {
		margin: -2em 0 2em -2em;
	}

	@media screen and (min-width: $query__medium) {
		margin-right: -4em;
	}

	@media screen and (min-width: $size__max-width) {
		min-width: 100%;
		margin-top: -3em;
		margin-left: -4em;
		margin-bottom: 4em;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.single:not(.learnpress) {

	.entry-content {
		background: white;
		padding: 1em 1em 2em;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__headings;
}

.subheader {
	font-style: italic;
}
