.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;

		&:focus,
		&:hover {
			background-color: $color__interactive;
			color: white;
		}
	}
}

.entry-meta,
.entry-footer {
	font-family: $font__sans;
	font-size: 90%;

	a {
		font-weight: 700;

	}
}
.migajas,
.learn-press-breadcrumb {
	font-size: 80%;
	display: block;
	width: 100%;
	font-family: $font__sans;
	margin: 1em 0;
	color: $color__gris;

	a {
		color: $color__gris;
		border: none;
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.extra {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {

	.entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.post-content__wrap {

			.entry-meta {
				margin-top: 2.25em;
				font-size: 80%;

				a {
					font-size: 110%;
					display: block;
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}

	}
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	min-height: 400px;
	max-height: 1000px;
	margin-left: -1em;
	border-bottom: 1px solid $color__main-claro;
	overflow: hidden;
	position: relative;
	background-color: white;
	background-attachment: fixed;

	@media screen and (min-width: $query__small) {
		margin-left: -2em;
	}

	@media screen and (min-width: $query__medium) {
		margin-right: -2em;
	}

	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
    margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
	}

	img {
		display: block;
		margin: 0 auto;
		height: inherit;
		min-height: 400px;
		object-fit: cover;
	}

	h1.course-title {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0 1em 1em;
		display: block;
		z-index: 99;
		font-size: 2rem;
		width: auto;
		background: hsla(0, 0, 0, 0.5);
		padding: 0.1em .2em;
		color: white;
		border-radius: 8px;
		border: 1px solid $color__main-claro;

		@media screen and (min-width: $query__small) {
			font-size: 2.5rem;
			padding: .2em .4em;
		}

		@media screen and (min-width: $query__medium) {
			font-size: 3rem;
			width: 740px;
		}
	}
}
.page-header,
.entry-header {
	background: $color__gris-claro;
	padding: 2em 1em;
	margin-left: -1em;
	margin-right: -1em;
	max-width: $size__max-width;

	@media screen and (min-width: $query__small) {
		padding: 4em 1em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			background: $color__gris-claro;
			display: block;
			height: 100%;
			width: 100vw;
			left: 0;
			top: 0;
			z-index: -1;
			margin-left: -1em;
			margin-right: -1em;
		}
	}
	@media screen and (min-width: $size__max-width) {

		&:before {
			margin-right: calc( ((-100vw + #{$size__max-width})/2) - 1em );
			margin-left: calc( ((-100vw + #{$size__max-width})/2) - 1em );
		}
	}

	.entry-title,
	.page-title {
		border-bottom: 1px solid $color__main-oscuro;
		margin-bottom: .5em;
		font-weight: 400;
		margin-top: 0;
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.single:not(.learnpress) {

	.entry-content {
		background: white;
		padding: 1em 1em 2em;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__sans;
}

//content-recurso
.recurso-wrap {
	width: 100%;
	max-width: $size__max-width;
	height: auto;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 0;
	position: relative;
	@extend .sticky;
	border: 1px solid $color__main-bordes;

	.recurso-media {
		padding: 0 0 1em;
		background-color: $color__main-oscuro;

		.recurso-image {
			width: 100%;
			height: auto;

			img {
				padding: 0;
			}
			figcaption {
				font-size: 90%;
				padding: 0 .5em;
			}
		}

	}
	.recurso-content {
		padding: 2em 1em;
		//font-size: 90%;

		h1.entry-title {
			font-size: 1.5em;
			color: $color__main-oscuro;
		}

		.termino {
			margin: 0 .15em;
		}
	}

	.recurso_tags {
		font-family: $font__sans;

		a {
			@include etiqueta($color__naranja, $color__naranja-claro);
			text-decoration: none;
		}

		&.recurso-link {
			background: white;
			padding: .5em 1em;
			margin: 1em 0;
			//border-radius: 8px;
			box-shadow: 1px 2px rgba(0,0,0,.2);
		}
	}

	@media screen and (min-width: $query__medium) {
		display: flex;
		align-content: stretch;
		justify-content: space-between;
		flex-wrap: nowrap;

		.recurso-media {
			width: 50%;
			padding: 1em;
		}
		.recurso-content {
			width: 50%;
			padding: 2em;
		}

	}
}
.relacionados {
	padding: 1em;
	font-family: $font__sans;

	@media screen and (min-width: $query__small) {
		padding: 2em;
	}

	ul {
		list-style: none;
		padding-left: 0;
		li {
			margin-bottom: .2em;
		}
	}
}

//página de perfil
.profile {
	#learn-press-profile-header {
		//background: none;
	}
	.lp-profile-avatar  {
		position: relative;

		img{
			border-radius: 50%!important;
		}
		.profile-name {
			position: absolute;
			text-align: left;
			left: 120%;
			top: 20%;
			width: 100%;
			min-width: 200px;


		}

	}
}

//avatar
.avatar-circular {
	border-radius: 50%;
	border: 2px solid $color__main;
}
