.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;

		&:focus,
		&:hover {
			background-color: $color__interactive;
			color: white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5em;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			border-bottom: 5px solid $color__interactive;
		}
	}
}

.entry-meta,
.entry-footer {
	font-family: $font__sans;
	font-size: 90%;

	a {
		font-weight: 700;
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			color: black;
			border-bottom: 3px solid $color__interactive;
		}
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.extra {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {

	.entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.post-content__wrap {

			.entry-meta {
				margin-top: 2.25em;
				font-size: 80%;

				a {
					font-size: 110%;
					display: block;
					border-bottom: 3px solid white;

					&:hover,
					&:focus {
						border-bottom-color: $color__interactive;
					}
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}

	}
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 600px;
	margin-bottom: 1em;
	margin-left: -1em;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;
	margin-top: -1em;


	@media screen and (min-width: $query__small) {
		margin-left: -2em;
		margin-top: -2em;
	}

	@media screen and (min-width: $query__medium) {
		margin-bottom: 2em;
		margin-right: -2em;

	}

	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		max-width: 100vw;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.single:not(.learnpress) {

	.entry-content {
		background: white;
		padding: 1em 1em 2em;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__sans;
}


//content-recurso
.recurso-wrap{
	width: 100%;
	max-width: $size__max-width;
	height: auto;
	background-color: white;
	border: 1px solid #c3c3c3;
	padding: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);

	.recurso-media {
		padding: 0 0 1em;
		background-color: #d1d1d1;

		.recurso-image {
			width: 100%;
			height: auto;

			img {
				padding: 0;
			}
			figcaption {
				font-family: $font__sans;
				font-size: 90%;
				padding: 0 .5em;
			}
		}

	}
	.recurso-content {
		padding: 2em 1em;
		//font-size: 90%;

		h1.entry-title {
			font-size: 1.5em;
		}

		.termino {
			margin: 0 .15em;
		}
	}

	.recurso_tags {
		font-family: $font__sans;

		&.recurso-link {
			background: white;
			padding: .5em 1em;
			margin: 1em 0;
			//border-radius: 8px;
			box-shadow: 1px 2px rgba(0,0,0,.2);

			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	@media screen and (min-width: $query__medium) {
		display: flex;
		align-content: stretch;
		justify-content: space-between;
		flex-wrap: nowrap;

		.recurso-media {
			width: 50%;
			padding: 1em;
		}
		.recurso-content {
			width: 50%;
			padding: 2em;
		}

	}
}

//pagina de inicio
//paginas-destacadas
.paginas-destacadas {
	overflow-x: scroll;
	max-width: 100%;
	position: relative;
	&::-webkit-scrollbar {
		display: none;
	}

	.paginas-inner {
		display: flex;
		flex-wrap: nowrap;
		padding: 40px 1em;
		justify-content: space-between;
		min-width: $query__medium;
	}

	.pagina {
		background: white;
		padding: 1em;
		margin-bottom: 24px;
		width: 30%;
		flex-shrink: 0;

		h3 {
			font-size: 1.5em;
			text-align: center;
			margin: .5em;
			a {
				text-decoration: none;
			}
		}

		p {
			font-size: 80%;
		}
	}

}

//página de perfil
.profile {
	#learn-press-profile-header {
		//background: none;
	}
	.lp-user-profile {
		font-family: $font__sans;
	}
	.lp-profile-avatar  {
		position: relative;

		img{
			border-radius: 50%!important;
		}
		.profile-name {
			position: absolute;
			text-align: left;
			left: 120%;
			top: 20%;
			width: 100%;
			min-width: 200px;


		}

	}
}
